---
import HPLayout from '../../layouts/HumanPracticesLayout.astro';
import HeroBanner from '../../components/HeroBanner.astro';
import Card from '../../components/Card.astro';
---

<HPLayout title="Events & Initiatives | BovEco - iGEM 2024">
  <main>
    <HeroBanner title="EVENTS & INITIATIVES" layout="hp" />
    <Card
      heading="March"
      subheading="Waterloo Engineering Open House + Sedra Open House"
      layout="hp"
    >
      <p>
        As part of the UW iGEM team, we've had many exciting opportunities to
        participate in design team recruitment events and open houses. These
        events are a crucial platform for us to showcase our innovative work in
        synthetic biology and attract potential new members to our team. We held
        2 open houses this year, one in January alongside other Sedra
        Engineering teams, and one in March as a part of Sedra’s open house. We
        set up engaging booths where high school students and prospective
        Waterloo applicants could learn about our team's projects and the
        amazing world of synbio. The main purpose of these open houses is to
        spark interest in synthetic biology and demonstrate how students from
        various faculties can collaborate to solve real-world problems using
        engineered biological systems. We were thrilled to see lots of
        engagement from visitors, with many students expressing enthusiasm about
        the possibility of joining Waterloo iGEM in the future. These events not
        only help us recruit new talent, but also raise awareness about
        synthetic biology and its potential to address global challenges.
      </p>
    </Card>
    <Card
      heading="April"
      subheading="Grand River Agricultural Society (GRAS) Spark V3 Symposium"
      layout="hp"
    >
      <p>
        We had the privilege of attending the SPARK V3 Symposium, an annual
        event showcasing Canadian Ag Tech and Green Tech companies hosted by
        GRAS. This conference provided us with a unique opportunity to connect
        with industry leaders and explore innovative solutions in agriculture,
        connecting well with our project. During the event, we had the chance to
        engage in meaningful discussions with Deborah Whale, Vice President of
        the Grand River Agricultural Society (GRAS), a prominent figure in
        Ontario's agricultural community. Our conversation with Ms. Whale proved
        to be incredibly valuable, as she expressed interest in our work and
        offered to provide a tour of her family's dairy operation, Clovermead
        Farms in Alma. This farm is known specifically for sustainability
        efforts, as it features a large biogas-producing anaerobic digester. The
        SPARK conference not only allowed us to gain insights into agricultural
        technologies but also opened many doors for several learning experiences
        that could significantly contribute to the development of our project.
      </p>
    </Card>
    <Card heading="July" subheading="Dairy Farm Tour, Lund call" layout="hp">
      <p>
        In July, five members from the UW iGEM team went to Clovermead dairy
        farm in Mapleton. During our visit to the farm, we gained valuable
        insights into how anaerobic digesters were being used to increase
        methane production from cow waste, rather than directly from the cows
        themselves. This raised an important question: if we modified the gut
        microbiota to reduce methanogens in cows, could that also decrease the
        methane produced from their manure, potentially affecting the digester's
        efficiency? We recognized the need to explore this with a nutritionist
        to understand the potential impact. If our project did not affect waste
        methane, it would strengthen our solution as an improvement to existing
        systems. However, if it did, we could focus on smaller farms without
        digesters, positioning our project as a viable, interim solution until
        they could afford one. Additionally, while methane regulations in
        agriculture were currently limited, clean energy standards for fuel were
        likely to extend to farming practices in the future, making this an
        important area for future consideration.
      </p>
      <br />
      <p>
        A team from Sweden, also working on reducing methane emissions from
        cattle rumen, reached out to us about a potential collaboration! This
        was an exciting opportunity for us, as gathering international data from
        Swedish farmers and modelling it alongside our own data would have been
        incredibly valuable for both teams. The call didn't lead to any
        significant outcomes, but in the future, we could take steps to increase
        collaboration such as setting up regular meetings to keep communication
        open and explore new ideas together or sharing preliminary data and
        analysis techniques to identify potential collaboration opportunities
        early on.
      </p>
    </Card>
    <Card
      heading="August"
      subheading="Ottawa Great Canadian iGEM Meet-Up, St. Jacob’s Farmer’s Market, McGill Synergy Presentation Online, UofT Biodebate"
      layout="hp"
    >
      <p>
        Akshay, Bethany and our PI, Dr. Brian Ingalls visited Ottawa to attend a
        conference hosted by iGEM Ottawa where Dr. Vikram Yadav from the
        University of British Columbia and Dr. Yang Xu, from the University of
        Guelph gave talks. Themes discussed included their research fields and
        the importance of thinking of the up-scaling process and need for
        multidisciplinary efforts in order to successfully go to market with a
        synthetic biology made product. Akshay and Bethany also presented our
        project BovEco in a pitch competition with other iGEM teams and received
        vital feedback. They were well prepared for the questions! It was
        important for our team to go and network with other fellow iGEMMERS from
        Ontario and Quebec, to better understand how other teams operate and be
        able to collaborate and discuss the future of synthetic biology, by
        learning about their projects.
      </p>
      <br />
      <p>
        The team visited St. Jacob’s Farmers Market with plans to speak to four
        vendors—Meadow Song Farms, Cloverleaf Farms, Halenda’s Meats, and
        Gerber’s Meats—about their approaches to sustainability, its importance,
        the challenges they face in becoming more sustainable, and whether they
        believe there are public misconceptions about their work, particularly
        from urban communities. However, due to the market being very busy that
        day, the team was unable to engage with the vendors. In the future, we
        may want to collect their contact information and ask if they’d be open
        to having one-on-one conversations outside of the busy market setting.
        This would allow for more in-depth discussions without the pressure of
        the crowd.
      </p>
      <br />
      <p>
        We participated in McGill University's Synergy event, a platform
        designed for students to showcase their research projects and gain
        feedback from peers and experts. Our team presented our project through
        an online presentation, which was met with great enthusiasm and positive
        reception from the audience. The event provided us with an incredible
        chance to share our work, engage in scientific conversations, and learn
        from other incredible research projects. Our team's hard work was
        recognized with several prestigious awards at the event. We won first
        place for both Most Innovative project and Best Presentation.
        Additionally, we won third place for Best Technical Execution and second
        place in the Sustainability and Precision Impact category. These awards
        not only confirmed that our project is on the right track but also
        provided us with valuable feedback and new perspectives. Overall,
        participating in the Synergy event allowed us to gain exposure, network
        with fellow researchers, and gather new perspectives that will
        contribute to the advancement of our project.
      </p>
      <br />
      <p>
        The team attended the University of Toronto's AI Solutions for
        Antibiotic Resistance debate in Toronto as observers, not participants.
        The event was insightful and valuable for several reasons. First, it
        highlighted innovative uses of AI in addressing biological challenges.
        Second, it provided a deeper understanding of the antibiotic resistance
        problem, offering perspectives that could help us consider broader
        applications of our own research. Finally, the debate showcased how
        interdisciplinary collaboration, between AI experts and biologists, is
        essential for tackling complex issues—something we can apply as we
        engage with different stakeholders in our own project.
      </p>
    </Card>
    <Card
      heading="September"
      subheading="Renison College - English, Science, Technology, Engineering, & Mathematics (eSTEM) presentation, BioSynphony Conference"
      layout="hp"
    >
      <p>
        One of our team leads, Bethany, presented our current project and team
        efforts in an online presentation to a group of 30 incoming
        international students learning english, and were in an eSTEM program
        organized by Renison College to prepare them for a start in their STEM
        focused disciplines. In this online event, other Sedra Design Centre
        teams including UWaterloo Concrete Canoe and Electrium Mobility also
        atttended to present their current projects. This presentation offered
        the team not only the chance to speak with incoming students, to open up
        the interest to join next year’s team, but also to further discuss
        within our community, to give insight to students of potential synthetic
        biology projects, team and place to fit in among the mechanical,
        elecrical-based design teams.
      </p>
      <p>
        The University of Waterloo iGEM's "BioSynphony" conference was a
        strategically organized event designed to introduce students from
        diverse academic backgrounds to the transformative potential of
        synthetic biology. With over 50% of the 78 registrants in attendance,
        the conference aimed to foster interdisciplinary collaboration and
        highlight how synthetic biology can address global challenges such as
        healthcare improvements and environmental sustainability. Participants
        engaged in interactive activities, including case studies and a
        Jeopardy-style quiz, which encouraged them to explore ethical issues,
        creative problem-solving, and teamwork. Expert speakers provided
        insights into the future of synthetic biology, its potential to
        revolutionize industries, and the various career opportunities available
        in the field, helping students see where they fit in. Hosting
        BioSynphony benefited our team by raising awareness of synthetic
        biology, building a community of students eager to contribute to this
        growing field, and reinforcing our commitment to education and
        innovation. By integrating hands-on learning, career discussions, and
        expert guidance, we helped spread the word about synthetic biology’s
        capacity to shape the future and inspire the next generation of
        innovators.
      </p>
    </Card>
  </main>
</HPLayout>

<style lang="scss">
  @import '../../global.scss';

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
