---
import HPLayout from '../../layouts/HumanPracticesLayout.astro';
import HeroBanner from '../../components/HeroBanner.astro';
import Dropdown from '../../components/Dropdown.astro';
---

<HPLayout title="Stakeholders & Experts | BovEco - iGEM 2024">
  <main>
    <HeroBanner title="STAKEHOLDERS & EXPERTS" layout="hp" />
    <Dropdown heading="Meeting with a Cattle Farmer">
      <p>
        We met with a local cattle farmer to understand the current outlook of
        Ontario cattle farmers and get their take on current practices and
        sustainable farming.
      </p>
      <p>
        <span class="person">Bryan Gilvesy</span> -
        <em
          >a beef cattle farmer in Tillsonburg, Ontario and CEO of ALUS, a
          network of farmers and ranchers dedicated to creating nature-based
          solutions to climate resilience.
        </em>
      </p>
      <p>
        <div class="subheading">Key Learning Takeaways:</div>
        <ol>
          <li>
            Cattle farming offers a marketplace prime for individual development
            due to the room for brand development in specialty products and
            marketing to local communities. Local markets offer little
            competition, and this may be a contributing factor for farmers when
            converting to cattle farming, considering that consumers prefer to
            buy local when the experience is made convenient.
          </li>
          <li>
            The farming industry generally lacks resiliency due to short term
            profit mindsets. The current safety net programs are necessary to
            insure survival, but they facilitate short term thinking. Ways for
            the community to support itself or to incentivize thinking long term
            benefit the industry in becoming more resilient and sustainable.
          </li>
          <li>
            Cycling of carbon from natural sources, such as diversified
            pastures, prevents the input of fossil fuel driven carbon into the
            cycle, lowering the ecological footprint of the farm and promoting a
            sustainable mindset. However, 98% of cattle farmers currently buy
            feed.
          </li>
          <li>
            Sustainability as a farmer means looking after the natural
            environment and biodiversity of their land. In turn, this allows
            them to thrive economically and improve the social aspect of their
            community. It is not about sacrifice, it is about gain.
          </li>
        </ol>
      </p>
      <div class="subheading">What Did We Do with This Info?</div>
      <p>
        This conversation was valuable in determining where the current mindset
        of the beef cattle industry is in our local area. Specifically on themes
        regardi ng sustainability, and methane emissions. In addition,
        conversation surrounding carbon cycling inspired investigation into the
        viability of implementing our project within cattle feed, targeting the
        non-pasture feed majority to decrease their methane footprint. This
        conversation also sparked questions of co-benefits and carbon payoffs in
        our implementation strategy, prompting further research and development
        about viable integration methods.
      </p>
    </Dropdown>
    <Dropdown heading="Meeting with Dairy Farmers & Anaerobic Digestor Experts">
      <p>
        We met with the owner of Deborah Whale and Dan Jones of Clovermead farms
        in Alma, Ontario to dive deeper into the impact of methane on the dairy
        industry and learn about the sustainability payoff of anaerobic
        digestors.
      </p>
      <p>
        <span class="person">Deborah Whale</span> -
        <em
          >has first hand-experience running a dairy farming operation, and a
          dedication to the agricultural industry, valuing research, innovation,
          and working as director of over 20 committees and boards within the
          agriculture industry over her career.
        </em>
      </p>
      <p>
        <div class="subheading">Key Learning Takeaways:</div>
        <ol>
          <li>
            Currently there is not a strong set of methane standards outlined
            for the agricultural sector, however they suspect that clean fuel
            and energy standards will eventually be applied to the industry.
          </li>
          <li>
            An anaerobic digestor has allowed the farm to become a closed
            circular economy. By growing their own feed and using the waste (ie.
            cow manure) produced to fuel the anaerobic digestor, they are able
            to create heat and biogas for heating and energy on the farm.
            However, the starting cost of investment to build an anaerobic
            digestor can be a barrier for many farmers looking to improve their
            environmental footprint.
          </li>
          <li>
            Many dairy and cattle operations have specialized nutritionists that
            determine the ratio of feed components the herd will receive.
          </li>
        </ol>
      </p>
      <div class="subheading">What Did We Do with This Info?</div>
      <p>
        The high starting cost of anaerobic digestors suggests that our solution
        could be implemented as an alternative for farmers with an operation
        that cannot financially support the building and maintenance of an
        anaerobic digestor. Alternatively, our solution should also work in the
        closed loop system established by these larger cattle farms.
        Specifically, a concern regarding antibiotics was raised, since the use
        of them in cow feeds is prohibited, because it negatively impacts the
        efficiency of the anaerobic digestors. This allowed our team to
        concretely outline how our solution is not an antibiotic, and also model
        its degradation as it travels through the rumen compartments, and would
        not be a component of cattle manure. In either case, our team with their
        advice ensured that our solution remained inclusive for both larger and
        smaller based cattle farms that wish to improve their environmental
        footprint. Furthermore, by learning that diet of cows in dairy
        operations were controlled by nutritionists, we were inspired to connect
        with a variety of nutritionists and a feed expert to further our
        understanding of this processes, how and if methanogens impact cow
        digestion, as well as the applicability of BovEco.
      </p>
    </Dropdown>
    <Dropdown heading="Meeting with Ruminant Nutritionists">
      <p>
        We met with 2 members of the nutritionist team at GVF (Grand Valley
        Fortifiers), a livestock nutrition and premix company based in southern
        Ontario.
      </p>
      <p>
        <span class="person">Gennadii Bondarenko, PhD.</span> -
        <em
          >24 yrs of ruminant nutrition expertise. He has previously worked as
          university lecturer in this field and has participated in
          international dairy development programs.
        </em>
      </p>
      <p>
        <span class="person">Mark Bowman, MSc.</span> -
        <em
          >40 years experience in nutrition management. He has first-hand
          farming experience, having grown up on a southern-Ontario dairy farm.
        </em>
      </p>
      <p>
        <div class="subheading">Key Learning Takeaways:</div>
        <ol>
          <li>
            The main evolution in the world of ruminant nutrition has been
            efficiency-related. Some of this has positive impact on
            environmental footprint per production unit. Within a few decades,
            average milk production per cow has nearly doubled in Canada,
            reducing the amount of methane per litre milk. <u
              >However, there is no strong push to directly address methane via
              nutritional routes.</u
            >
          </li>
          <li>
            Some existing feed additives are on the market with methane reducing
            effects. They estimate that 5-10% of dairy farmers in Canada and the
            USA use plant extract products with some microbiome-altering and
            methane reducing properties. Ionophores, with some antimicriobial
            properties, have been used for decades primarily for yield benefits
            but with some parallel methane-reduction benefits; no significant
            issues with antimicrobial resistance have presented themselves. The
            main basis for use is for improved milk yields. Other products may
            have superior methane reduction claims (e.g. 3-NOP chemical
            additive), but uptake is low due to the lack of production benefits.
          </li>
          <li>
            Some previously proposed methane reduction solutions have been
            examples of “cheating” with highly specific extract molecules only
            having short-term methane reduction effects.
          </li>
          <li>
            The nutritional approach to feeding different ruminant types
            (including sheep, goats, etc.) is generally very similar.
          </li>
          <li>
            <u>Animal production systems vary vastly across the globe</u>. The
            highest cattle populations are found in India and Brazil. Animals in
            different regions (including buffalo, zebu as milk producers) have
            unique genetics and microbiomes to handle the forage they are fed.
            Cattle in developing countries have developed to survive on
            poor-quality feed.
          </li>
        </ol>
      </p>
      <div class="subheading">What Did We Do with This Info?</div>
      <p>
        This conversation was valuable in confirming the importance of us fully
        developing a plan for our solution in accordance with farmers’ needs to
        maximize productivity while minimizing costs. Moreover, the topic of
        antimicrobial ionophores spurred research into antibiotics in the beef
        and dairy industry, in addition to the occurrence (or lack of)
        antibiotic resistance to such additives. Finally, the discussion about
        cattle in developing countries inspired us to investigate potential GMO
        crop candidates that would be most suited for widespread distribution.
      </p>
    </Dropdown>
    <Dropdown heading="Meeting with Methane Emission Sciene + Policy Expert">
      <p>
        To learn more about a research-based perspective on the methane issue,
        we had a conversation with Karen Beauchemin.
      </p>
      <p>
        <span class="person">Karen Beauchemin, PhD.</span> -
        <em
          >Retired Agriculture and Agri-Food Canada Scientist. Current
          consultant for Global Methane Hub, participated 2017-2019 on the
          International Panel on Climate Change. Listed author on 20+ scientific
          publications.
        </em>
      </p>
      <p>
        <div class="subheading">Key Learning Takeaways:</div>
        <ol>
          <li>
            Decrease of methanogens is not something that should be of major
            concern for us. Animals have shown hydrogen sink adaption in cases
            of 90% hydrogen reduction. Beef cows have shown meat production
            efficiency with decreased methane output. Dairy cows tend to have
            yield drops beyond 40% methane reduction.
          </li>
          <li>
            Important not to target eubacteria while trying to eliminate
            methanogens. Further, an enzyme only targeting a narrow set of
            strains may be at risk of losing efficacy via other strains filling
            hydrogen consumption niche.
          </li>
          <li>
            Methane-reducing additives are giving reason for governments to
            alter approval processes, particularly with the new rise of
            non-traditional feed additives or medicinal products.
          </li>
          <li>On GMO plant-based delivery: “excellent.”</li>
        </ol>
      </p>
      <div class="subheading">What Did We Do with This Info?</div>
      <p>
        Karen was not the first stakeholder to bring up resistance issues with
        methane-reducing technologies, noting a more significant issue with a
        narrow-target therapeutic. Though we had information that PeiR is
        functional against multiple methanogen species, this feedback encouraged
        us to extend research into the major rumen populations which we found
        would be largely PeiR-sensitive.
      </p>
    </Dropdown>
    <Dropdown heading="Meeting with Microbe-Based Feed Expert">
      <p>
        This marked our second nutritionist expert meeting, this time with
        Lallemand Animal Nutrition team member Tony Hall. He provided a valuable
        perspective from his combined field- and lab-based animal nutrition
        experience, in addition to his insight from within a company selling
        microbe-based feed additives.
      </p>
      <p>
        <span class="person">Anthony (Tony) Hall, MSc. </span> -
        <em
          >obtained BSc. in biochemistry before specializing in animal
          nutrition. Possesses 10+ years of industry experience and 25+ years of
          experience working in North America in this field.
        </em>
      </p>
      <p>
        <div class="subheading">Key Learning Takeaways:</div>
        <ol>
          <li>
            Microorganism-based feedstuffs are considered an industry growth
            area. Advantages to working with them include rapid development and
            testing potential for new strains, in addition to offering powerful
            nutritional/health benefits in some cases. Ease of testing at lab
            scale allows for effective scaleup to industrial fermenters.
            Products involving live microbial materials may be distributed
            vacuum packed and airtight for preservation.
          </li>
          <li>
            Approximately 65-70% of North American cattle farmers use
            microbe-related feed products. This includes, prebiotics,
            probiotics, and postbiotics.
          </li>
          <li>
            Concerns with methane-reduction technologies include a) lack of
            confirmation farmers would have that technology is functioning
            on-farm, b) possibility for microbiome shifts back towards
            energetically favourable methanogenesis, and c) insufficient reason
            for purchase by farmers when no yield benefits accompany
            environmental ones.
          </li>
          <li>
            Incentives for farmers to take on added cost for sake of methane
            reduction could include carbon credits but also more financially
            self-sustaining avenues such as separately marketed milk. This could
            be funded in a fashion similar to organic/non-GMO/A2 milk involving
            a product consumers are willing to pay a premium for. The potential
            for government-based incentives to be created varies a lot by
            country/region.
          </li>
          <li>
            On BovEco “I think it’s wonderful […] There’s obviously a North
            American need.”
          </li>
        </ol>
      </p>
      <div class="subheading">What Did We Do with This Info?</div>
      <p>
        The positive feedback on our solution approach helped justify our
        project direction. Specifically, it was promising to know that our phase
        1 microalgae-based solution may benefit from the growing market for
        microorganism based feed additives. Further, discussion on resistance
        encouraged us to explore the spectrum of methanogens sensitive to our
        protein beyond M. ruminantium and investigate supplementary feeding
        changes that may support the intended microbiome shift.
      </p>
    </Dropdown>
  </main>
</HPLayout>

<style lang="scss">
  @import '../../global.scss';

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .person {
      color: $hp;
    }
    .subheading {
      font-size: 1.5rem;
      color: $hp;
    }
  }
</style>
