---
import HPLayout from '../../layouts/HumanPracticesLayout.astro';
import HeroBanner from '../../components/HeroBanner.astro';
import Dropdown from '../../components/Dropdown.astro';
---

<HPLayout title="Stakeholders & Experts | BovEco - iGEM 2024">
  <main>
    <HeroBanner title="STAKEHOLDERS & EXPERTS" layout="hp" />
    <Dropdown heading="Meeting with a Cattle Farmer">
      <p>
        We met with a local cattle farmer to understand the current outlook of
        Ontario cattle farmers and get their take on current practices and
        sustainable farming.
      </p>
      <p>
        Bryan Gilvesy - a beef cattle farmer in Tillsonburg, Ontario and CEO of
        ALUS, a network of farmers and ranchers dedicated to creating
        nature-based solutions to climate resilience.
      </p>
      <p>
        Key Learning Takeaways:
        <ol>
          <li>
            Cattle farming offers a marketplace prime for individual development
            due to the room for brand development in specialty products and
            marketing to local communities. Local markets offer little
            competition, and this may be a contributing factor for farmers when
            converting to cattle farming, considering that consumers prefer to
            buy local when the experience is made convenient.
          </li>
          <li>
            The farming industry generally lacks resiliency due to short term
            profit mindsets. The current safety net programs are necessary to
            insure survival, but they facilitate short term thinking. Ways for
            the community to support itself or to incentivize thinking long term
            benefit the industry in becoming more resilient and sustainable.
          </li>
          <li>
            Cycling of carbon from natural sources, such as diversified
            pastures, prevents the input of fossil fuel driven carbon into the
            cycle, lowering the ecological footprint of the farm and promoting a
            sustainable mindset. However, 98% of cattle farmers currently buy
            feed.
          </li>
          <li>
            Sustainability as a farmer means looking after the natural
            environment and biodiversity of their land. In turn, this allows
            them to thrive economically and improve the social aspect of their
            community. It is not about sacrifice, it is about gain.
          </li>
        </ol>
      </p>
      <p>What did we do with this info?</p>
    </Dropdown>
  </main>
</HPLayout>

<style lang="scss">
  @import '../../global.scss';

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
