---
import HomeLayout from '../layouts/HomeLayout.astro';
import CowWalk from '../components/CowWalk.astro';
---

<HomeLayout title="404">
  <div>
    <h1>404: Page not found!</h1>
    <p>Page not found</p>
  </div>
  <CowWalk />
  <CowWalk />
  <CowWalk />
  <CowWalk />
</HomeLayout>

<style lang="scss">
  @import '../global.scss';

  body {
    background-color: #f7b969;
  }
</style>
