---
import TeamLayout from '../layouts/TeamLayout.astro';
import Card from '../components/Card.astro';
---

<TeamLayout title="BovEco-Attributions">
	<main>
		<iframe
			id="igem-attribution-form"
			src="https://teams.igem.org/wiki/5118/attributions"
		>
		</iframe>
	</main>
</TeamLayout>

<style lang="scss">
	@import '../global.scss';

	main {
		iframe {
			display: block;
			width: 90%;
			height: 500vh; // TO DO: set this dynamically
			padding: 2rem;
			border: none;
			margin: 5rem auto;
		}
	}
</style>
