---
import LoadingScreen from '../components/LoadingScreen.astro';
import TeamLayout from '../layouts/TeamLayout.astro';
import Card from '../components/Card.astro';
---

<LoadingScreen />
<TeamLayout title="Attributions | BovEco - iGEM 2024">
	<main>
		<div class="thanks">
			<h1>Attributions</h1>
			<!-- <Card
				title="Thank you!"
				body=`We'd like to thank the following people for their contributions to
				our project. BovEco wouldn't have been possible without their help!
				Let's give it up for them!`
				`
			/> -->
			<div class="thanks">
				We'd like to thank the following people for their contributions to our
				project. BovEco wouldn't have been possible without their help! Let's
				give it up for them!
			</div>
		</div>
		<iframe
			id="igem-attribution-form"
			src="https://teams.igem.org/wiki/5118/attributions"
		>
		</iframe>
	</main>
</TeamLayout>

<style lang="scss">
	@import '../global.scss';

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 50;
		.thanks {
			width: 85%;
			height: auto;
			position: relative;
			// left: 6.75rem;
			margin-top: 5rem;
			h1 {
				font-size: 5rem;
			}
			div {
				font-size: 1.5rem;
			}
		}

		iframe {
			display: block;
			width: 90%;
			height: 200vh; // TO DO: set this dynamically
			padding: 2rem;
			border: none;
			margin: 1rem auto;
		}
	}
</style>
