---
import LoadingScreen from '../components/LoadingScreen.astro';
import TeamLayout from '../layouts/TeamLayout.astro';
---

<LoadingScreen />
<TeamLayout title="Attributions | BovEco - iGEM 2024">
	<main>
		<div class="thanks">
			<h1>Attributions</h1>
			<div>
				It's our great pleasure to thank the following people and organizations
				whose contributions quite literally made <span>BovEco</span> possible! When
				all's said and done, we couldn't have done it without each and every single
				one of them. Let's give it up for them, shall we?
			</div>
		</div>
		<iframe
			id="igem-attribution-form"
			src="https://teams.igem.org/wiki/5118/attributions"
		>
		</iframe>
	</main>
</TeamLayout>

<style lang="scss">
	@import '../global.scss';

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		.thanks {
			width: 85%;
			line-height: 1.1;
			position: relative;
			h1 {
				font-size: 5rem;
			}
			div {
				font-size: 2rem;

				span {
					color: $accent-1;
				}
			}
		}

		iframe {
			width: 90%;
			height: 2280vh;
			padding: 2rem;
			border: none;
			margin-top: 1rem;
		}
	}
</style>
