---
import ProjectLayout from '../layouts/ProjectLayout.astro';
---

<ProjectLayout title="Contribution | BovEco - iGEM 2024">
	<main>
		<h1 class="welcome-text">Contribution</h1>
		<div class="line-h1"></div>

		<div class="box gold">
			This year we added 2 new parts to the Registry, summarized as follows...
		</div>

		<div class="box">
			1. <u>BBa_K5118002 - Coding - Lytic enzyme, PeiR, optimized in E.coli,
			inhibiting rumen methanogens </u> 
		</div>

		<div class="box">
			2. <u> BBa_K5118003 - Coding - Lytic enzyme, PeiR, optimized in C.vulgaris,
			inhibiting rumen methanogens</u> 
		</div>

	</main>
</ProjectLayout>

<style lang="scss">
	@import '../global.scss';

	main {
		h1 {
			display: flex;
			justify-content: center;
			font-size: 7.5rem;
			text-shadow: 5px 5px 0 $accent-3;
			color: $accent-1;
			margin-top: 2.5rem;
			z-index: -10;
		}

		.line-h1 {
			background-color: rgba($accent-2, 0.7);
			z-index: -10;
			position: relative;
			top: -2rem;
		}

		div {
			background: $primary;
			padding: 15px;
			border: 1px solid #ddd;
			border-radius: 5px;
			margin-bottom: 20px;
			transition: box-shadow 0.3s ease;

			&:hover {
				box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
			}
		}

		.gold {
			background-color: rgba(#f7ba67, 0.7);
		}

		.box {
			width: 75%;
			font-size: 1.25rem;
			text-align: center;
			padding: 1.5em;
			border: 3px solid $accent-3;
			margin: 1em auto;
		}
	}
</style>
