---
import ProjectLayout from '../layouts/ProjectLayout.astro';
import HeroBanner from '../components/HeroBanner.astro';
import Card from '../components/Card.astro';
---

<ProjectLayout title="Contribution | BovEco - iGEM 2024">
	<!-- <HeroBanner title="CONTRIBUTION" description="sup" image="img/ocean.png" /> -->

	<main>
		<div></div>
	</main>
</ProjectLayout>
