---
import ProjectLayout from '../layouts/ProjectLayout.astro';
import Card from '../components/Card.astro';
---

<ProjectLayout title="Project Description | BovEco - iGEM 2024">
	<main>
		<div></div>
	</main>
</ProjectLayout>
