---
import WetLabLayout from '../layouts/WetLabLayout.astro';
import HeroBanner from '../components/HeroBanner.astro';
import Card from '../components/Card.astro';
---

<WetLabLayout title="Design | BovEco - iGEM 2024">
  <main>
    <HeroBanner title="Design" />
    <Card title="hi" content="poopity scoop" />
    <div>bum</div>
  </main>
</WetLabLayout>

<style>
  div {
    font-family: 'Quartzo', sans-serif;
  }
</style>
