---
import HPLayout from '../layouts/HumanPracticesLayout.astro';
import HeroBanner from '../components/HeroBanner.astro';
import Card from '../components/Card.astro';
---

<HPLayout title="Education | BovEco - iGEM 2024">
	<main>
		<HeroBanner title="EDUCATION" layout="hp" />
		<Card heading="About BioSynphony Conference 2024" layout="hp">
			<p>
				The University of Waterloo iGEM's conference, “BioSynphony,” was a
				carefully planned event aimed at introducing students from different
				academic backgrounds to synthetic biology. We had 78 people sign up and
				over 50% of the people attended. The goal was to bring students from
				various disciplines together and provide a space for them to explore how
				synthetic biology can address global challenges, from improving
				healthcare to promoting environmental sustainability, and how they can
				fit in to this growing field.
			</p>
			<br />
			<p>
				At BioSynphony, students took part in lively discussions about the
				ethical issues surrounding synthetic biology, focusing on how to balance
				innovation with social responsibility. The event featured interactive
				activities, including a Jeopardy game that tested participants’
				knowledge and case studies that encouraged creative problem-solving and
				teamwork. Additionally, students heard from experts in synthetic biology
				who shared their experiences and thoughts on new technologies and their
				future impact.
			</p>
			<p>
				By emphasizing education, hands-on learning, and community involvement,
				BioSynphony not only encouraged students to think critically about how
				important synthetic biology can be in our future, but also how it can be
				used as a useful tool right now, by them. The conference highlighted the
				huge potential of the field to revolutionize industries, improve lives,
				and even help build a more sustainable world. BioSynphony inspired
				students to see the power of synthetic biology to drive meaningful
				change, making it a memorable and impactful experience for everyone
				involved.
			</p>
		</Card>
		<Card
			heading="Activities"
			subheading="Networking Bingo, Pitch Workshop"
			layout="hp"
		>
			<p>
				At our conference, BioSynphony, we hosted a highly engaging networking
				bingo activity designed to help our attendees practice the skill of
				networking. This interactive session aimed to break the ice across the
				various disciplines of science, mathematics, engineering, and health
				students. Each attendee was given a Bingo card filled with prompts such
				as “Discuss ethical issues in gene editing” or “Discuss the role of AI
				in synthetic biology,” to challenge them to actively engage with other
				students in a fun and exciting way.
			</p>
			<br />
			<p>
				The Networking Bingo activity facilitated dynamic conversations,
				allowing students to find common interests and talk about their
				professional goals, while also broadening their understanding of the
				interdisciplinary nature of synthetic biology. As attendees filled out
				their Bingo cards, the activity created a lively and collaborative
				atmosphere, where participants were sharing their social medias, such as
				LinkedIn accounts, to keep in contact after the conference was over. By
				the end of the session, many attendees had not only completed their
				Bingo cards but made special connections with others from different
				disciplines, contributing to the overall sense of community that
				BioSynphony aimed to provide. This activity proved to be an effective
				way of blending networking with fun, reinforcing the importance of
				collaboration in driving innovation within the field of synthetic
				biology.
			</p>
			<br />
			<p>
				At the conference, we held a highly structured pitch strategy workshop,
				where attendees were divided into eight different groups aligned with
				their academic disciplines and professional interests. Each group was
				tasked with addressing problems in synthetic biology ranging from
				business marketing, ethical considerations in biotechnology, advanced
				scientific research, and engineering scale-up. Equipped with only poster
				paper and markers, each group was required to work together to devise
				innovative, actionable solutions within a 30-minute timeframe, and
				present their ideas to the room in a formal 4-minute elevator pitch
				presentation.
			</p>
			<br />
			<p>
				For example, in the business category, Groups 1 and 2 were tasked with
				devising a marketing strategy for AgriGreen Innovations, a biotech
				company that developed a livestock feed additive. This additive
				significantly reduces methane emissions, positioning it as a valuable
				product in the fight against climate change. While the additive had
				passed clinical trials and received FDA approval, the challenge lay in
				convincing farmers—who are traditionally risk-averse and focused on cost
				efficiency—to adopt this novel product. The groups who received this
				prompt were tasked with developing a proposal that outlined both a
				fundraising strategy and an appealing marketing campaign that would
				entice farmers by demonstrating the product's long-term economic and
				environmental benefits. Groups 1 and 2 worked in their respective areas
				and presented their different strategies to appeal farmers to their
				product. Participants were encouraged to research ideas for their
				solutions. At the end, the room voted on whether group 1 or group 2 had
				the best ideas.
			</p>
			<br />
			<p>
				The pitch workshop showed how valuable it is to bring real-world-like
				business and scientific challenges into synthetic biology education. It
				encouraged out of the box thinking, creativity, and research, and it
				helped attendees develop practical solutions to our synthetic biology
				prompts. The elevator pitches also encouraged students to deliver an
				attention catching presentation in a short time frame, an important
				skill to learn in order to grab the attention of any investor, professor
				or collegue in a hypothetical elevator. They practiced skills to outline
				in a clear and concise format their problem and proposed solutions.
			</p>
		</Card>
		<Card
			heading="Activities (Cont.)"
			subheading="Jeopardy, Ethics Case Study, Dara's Talk"
			layout="hp"
		>
			<p>
				We organized a game of Jeopardy as an interactive session during the
				conference, designed to educate and reinforce our attendees knowledge of
				synthetic biology in a competitive, engaging format. The game featured
				five different categories; History of iGEM, Synbio Basics, Synbio Tools
				and Techniques, Applications of Synbio, and Famous Breakthroughs in
				Synbio. Each category challenged our attendees with a range of
				questions, progressively increasing in difficulty, requiring both
				foundational understanding and knowledge of scientific tools that are
				commonly used in synthetic biology. Participants were split into groups,
				with each team taking turns selecting questions and racing to answer
				correctly. The categories covered important topics, from the beginnings
				of iGEM to the latest in synthetic biology, giving everyone a chance to
				review key ideas while gaining a better understanding of major
				technologies and breakthroughs in the field. The interactive setup
				encouraged collaboration and friendly competition, making the learning
				experience both fun and educational.
			</p>
			<br />
			<p>
				During the conference, we organized an ethical case study to evaluate
				the feasibility and implications of developing a gene-therapy solution
				for Hereditary Hemolytic Anemia (HHA). This event focused on meeting two
				goals; exploring the relationship between synthetic biology and gene
				therapy, and addressing the ethical, societal and regulatory
				implications behind it. The students were split into four groups of 6-8
				members and assigned the same case study, which presented a scenario
				involving a biotech company's development of a synthetic biology
				solution to target the root cause of Hereditary Hemolytic Anemia (HHA),
				a condition caused by genetic mutations affecting proteins essential for
				the stability and function of red blood cells. The case study outlined
				key stakeholders, including patients, regulatory bodies, and healthcare
				providers, as well as important considerations such as access, equity,
				germline versus somatic gene therapy, and the safety of the proposed
				solution. The groups were given 15 minutes to discuss their ideas,
				followed by 5 minutes to present their solutions to another group, and
				then 10 minutes for an open discussion. This activity promoted a
				holistic understanding of how innovative therapies can be responsibly
				developed, ensuring patient safety, equitable access, and long-term
				sustainability, while advancing the future of personalized medicine.
			</p>
			<br />
			<p>
				Dr. Dara Gilbert’s talk at the BioSynphony conference gave students a
				clear and engaging overview of the history of synthetic biology,
				explaining how the field evolved and when the term really started to
				gain traction. She walked through some of its real-world applications
				and career prospect, helping students see how synthetic biology is
				already making an impact. What made her talk especially educational was
				the advice she shared with students, encouraging them to take advantage
				of interdisciplinary learning, stay curious, and actively shape their
				own academic paths. Her talk not only informed but inspired students to
				think about how their future might have a chapter in synthetic biology.
			</p>
		</Card>
		<Card heading="In Conclusion..." layout="hp">
			<p>
				The conclusion of the BioSynphony conference focused on the future
				potential of synthetic biology, highlighting its ability to reshape
				fields like healthcare, agriculture, and energy. By discussing
				advancements such as personalized medicine, climate-resilient crops, and
				biofuels, students were encouraged to see the vast possibilities
				synthetic biology holds for solving real-world problems.
			</p>
			<p>
				The conclusion also discussed the importance of ethical considerations,
				teaching everyone that innovation must be paired with safety and
				fairness. By urging everyone who attended to reflect on their role in
				advancing synthetic biology, the conference provided not only scientific
				knowledge but also inspired a deeper understanding of how they can
				actively contribute to its future.
			</p>
		</Card>
		<div class="img-container">
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-1.webp"
				alt=""
			/>
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-2.webp"
				alt=""
			/>
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-3.webp"
				alt=""
			/>
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-4.png"
				alt=""
			/>
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-5.webp"
				alt=""
			/>
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-6.webp"
				alt=""
			/>
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-7.webp"
				alt=""
			/>
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-8.webp"
				alt=""
			/>
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-9.webp"
				alt=""
			/>
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-10.webp"
				alt=""
			/>
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-11.jpg"
				alt=""
			/>
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-12.png"
				alt=""
			/>
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-13.jpg"
				alt=""
			/>
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-14.jpg"
				alt=""
			/>
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-15.jpg"
				alt=""
			/>
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-16.jpg"
				alt=""
			/>
			<!-- I messed up: 16 and 17 were the same -->
			<img
				src="https://static.igem.wiki/teams/5118/img/conference/conf-18.jpg"
				alt=""
			/>
		</div>
	</main>
</HPLayout>

<style lang="scss">
	@import '../global.scss';

	main {
		display: flex;
		flex-direction: column;
		align-items: center;

		.img-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 90%;
			margin: 2rem 0;

			img {
				width: 12rem;
				height: 12rem;
				object-fit: cover;
				margin: 0.5rem;
			}
		}
	}
</style>
