---
import HomeLayout from '../layouts/ProjectLayout.astro';
import Card from '../components/Card.astro';
---

<HomeLayout title="BovEco-Engineering" >
	<main>
		<div>

		</div>
	</main>
</HomeLayout>