---
import HPLayout from '../layouts/HumanPracticesLayout.astro';
import HeroBanner from '../components/HeroBanner.astro';
import Card from '../components/Card.astro';
---

<HPLayout title="Human Practices | BovEco - iGEM 2024">
	<main>
		<HeroBanner title="Human Practices" />
		<Card title="hi" content="poopity scoop" />
	</main>
</HPLayout>
