---
import HomeLayout from '../layouts/HumanPracticesLayout.astro';
import Card from '../components/Card.astro';
---

<HomeLayout title="BovEco-Human Practices" >
	<main>
		<div>

		</div>
	</main>
</HomeLayout>