---
import HomeLayout from '../layouts/HomeLayout.astro';
---

<script>
	let responsiveNum = document.querySelectorAll('.stat3 span');
	console.log(responsiveNum);
	let interval = 5000;

	// Entries: all the things that've been observed (intersected, or not)
	const observer = new IntersectionObserver(
		entries => {
			console.log(entries);
			entries.forEach(entry => {
				if (entry.isIntersecting) {
					responsiveNum.forEach(num => {
						let startValue = 0;
						let endValue = 73.5;
						let duration = Math.floor(interval / endValue);
						let counter = setInterval(() => {
							startValue += 3;
							num.textContent = startValue.toFixed(1);
							if (startValue >= endValue) clearInterval(counter);
						}, duration);
					});
				}
			});
		},
		{
			threshold: 1, // 100% of element must be visible before animation starts
		},
	);

	responsiveNum.forEach(num => observer.observe(num));
</script>

<HomeLayout title="BovEco">
	<main>
		<div class="welcome-text">
			<h3>Waterloo iGEM Presents...</h3>
			<h1>BovEco</h1>
			<h2>[enter slogan here?]</h2>
		</div>
		<div class="stat1">
			<div class="num">73%.</div>
			<div class="text">
				That's the proportion of agricultural methane emissions released by
				ruminants.
			</div>
		</div>
		<div class="stat2">
			<span>
				<b>One</b> cow produces over <b>100</b> kg of methane a year...
			</span>
			<img src="img/burping-cow.gif" alt="Burping Cow" />
			<span>
				...now imagine close to <br /><b>1.5 billion</b> cows globally.
			</span>
		</div>
		<div class="stat3">
			that is
			<span>0</span>
			million metric tons of enteric methane produced by cattle—globally.
		</div>
	</main>
</HomeLayout>

<style lang="scss">
	@import '../global.scss';
	main {
		.welcome-text {
			text-align: center;
			margin-top: 10rem;
			z-index: 1;

			h1 {
				font-family: 'Quartzo', sans-serif;
				font-size: 10rem;
			}

			h2 {
				font-size: 2rem;
			}

			h3 {
				font-size: 1.5rem;
			}
		}

		.stat1 {
			display: flex;
			justify-content: space-around;
			align-items: center;
			gap: 6rem;
			padding: 2rem;
			font-weight: bold;
			background: rgb(48, 64, 52);
			color: $primary;
			opacity: 0.7;
			margin-top: 30rem;

			.num {
				font-size: 18rem;
			}

			.text {
				width: 50%;
				font-size: 2.5rem;
			}
		}

		.stat2 {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 2rem;
			margin-top: 30rem;

			span {
				text-align: center;
				width: 31%;
				&:nth-of-type(2) {
					margin-top: 2rem;
				}
			}

			img {
				width: 50%;
			}
		}

		.stat3 {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 3rem;
			margin-top: 30rem;
			font-weight: bold;
		}
	}
</style>
