---
import HomeLayout from '../layouts/HomeLayout.astro';
---

<HomeLayout title="BovEco">
	<main>
		<div class="welcome-text">
			<h3>Waterloo iGEM Presents...</h3>
			<h1>BovEco</h1>
			<h2>[enter slogan here?]</h2>
		</div>
		<div class="stat1">
			<div class="num">73%.</div>
			<div class="text">
				That's the proportion of agricultural methane emissions released by
				ruminants.
			</div>
		</div>
	</main>
</HomeLayout>

<style lang="scss">
	@import '../global.scss';
	main {
		.welcome-text {
			text-align: center;
			margin-top: 10rem;
			z-index: 1;

			h1 {
				font-family: 'Quartzo', sans-serif;
				font-size: 10rem;
			}

			h2 {
				font-size: 2rem;
			}

			h3 {
				font-size: 1.5rem;
			}
		}

		.stat1 {
			display: flex;
			justify-content: space-around;
			align-items: center;
			gap: 6rem;
			padding: 2rem;
			margin-top: 10rem;
			font-weight: bold;
			background: rgb(48, 64, 52);
			color: $primary;
			opacity: 0.7;

			.num {
				font-size: 18rem;
			}

			.text {
				width: 50%;
				font-size: 2.5rem;
			}
		}
	}
</style>
