---
import HomeLayout from '../layouts/HomeLayout.astro';
---

<script>
	let stat1Num = document.querySelector('.stat1 .num');
	let stat3Num = document.querySelector('.stat3 .num');
	let interval = 1000;

	const animateNumber = (
		numElement: HTMLElement,
		startValue: number,
		endValue: number,
		increment: number,
	) => {
		let duration = Math.floor(interval / endValue);
		let counter = setInterval(() => {
			startValue += increment;
			numElement.textContent = numElement.closest('.stat1')
				? `${startValue.toFixed(0)}%.` // 0 decimal places for stat1 num
				: startValue.toFixed(1); // 1 decimal place for stat3 num
			if (startValue >= endValue) clearInterval(counter);
		}, duration);
	};

	const observerStat1 = new IntersectionObserver(
		entries => {
			const entry = entries[0]; // only one entry (stat1 num)
			if (entry.isIntersecting) {
				animateNumber(stat1Num as HTMLElement, 0, 73, 1);
				observerStat1.unobserve(entry.target); // stop observing after animation starts
			}
		},
		{
			threshold: 1, // starts once 100% visible
			rootMargin: '50px', // starts 50px before initially visible
		},
	);

	const observerStat3 = new IntersectionObserver(
		entries => {
			const entry = entries[0]; // only one entry (stat3 num)
			if (entry.isIntersecting) {
				animateNumber(stat3Num as HTMLElement, 0, 73.5, 3.5);
				observerStat3.unobserve(entry.target);
			}
		},
		{
			threshold: 1,
			rootMargin: '-100px',
		},
	);

	observerStat1.observe(stat1Num as HTMLElement);
	observerStat3.observe(stat3Num as HTMLElement);

	const button = document.querySelector('button');
	document.addEventListener('click', e => {
		// Handle button click here (instead of <a> tag) to avoid loading screen issues
		if (e.target === button) window.location.href = '/waterloo/description';
	});
</script>

<HomeLayout title="BovEco - iGEM 2024">
	<main>
		<div class="welcome-text">
			<img
				src="/waterloo/img/waterloo-igem-pixelated.png"
				alt="Waterloo iGEM Logo"
			/>
			<h3>Waterloo iGEM Presents...</h3>
			<h1>BovEco</h1>
			<h2>
				Fighting <span>climate change</span>, one <span>cow</span> at a
				<span>time!</span>
			</h2>
		</div>
		<div class="stat1">
			<div class="num"></div>
			<div class="text">
				That's the proportion of agricultural <span>methane</span>
				emissions released by <span>ruminants</span> [1].
			</div>
		</div>
		<div class="stat2">
			<div>
				<span class="cow-num">One</span>
				cow produces over
				<span class="methane">100 kg of methane</span> a year...
			</div>
			<img src="img/cows/burping-cow.gif" alt="Burping Cow" />
			<img src="img/environment/cliff-edge.png" alt="Cliff Edge" />
			<div>
				...now imagine close to <span class="cow-num">1.5 billion</span> cows globally
				[2].
			</div>
		</div>
		<div class="stat3">
			that is
			<div class="num"></div>
			<div class="text">
				<span>million</span> metric tons of
				<span>enteric methane</span> produced by
				<span>cattle</span>—globally [3].
			</div>
		</div>
		<div class="fact1">
			<div>As the global population increases,</div>
			<div>
				so will the demand for <span>beef</span> and <span>dairy</span>
				products.
			</div>
		</div>
		<div class="fact2">
			<div>
				<span class="methane">Methane emissions</span> drive serious environmental
				issues:
			</div>
			<img src="img/thermometer.gif" alt="Animated Thermometer" />
			<div>
				accelerating <span class="methane">global temperatures</span>, degrading
				<span class="methane">air quality</span>, and threatening crop
				growth—all of which impact human and <span class="animal">animal</span>
				health.
			</div>
		</div>
		<div class="fact3">
			<img src="img/environment/growing-algae.gif" alt="Growing Algae" />
			<div>
				Addressing these <span>CH<sub>4</sub></span> issues is crucial for a healthier
				planet.
			</div>
			<img src="img/environment/growing-algae.gif" alt="Growing Algae" />
		</div>
		<div class="stat4">
			<h4>Why tackle it now, though?</h4>
			<div class="img-wrapper">
				<img src="img/stopwatch.gif" alt="Stopwatch" />
				<img src="img/stopwatch.gif" alt="Stopwatch" />
				<img src="img/stopwatch.gif" alt="Stopwatch" />
			</div>
			<div>
				<span>Methane</span> has a shorter atmospheric life of 7-12 years compared
				to other long-lasting <span>GHGs</span> [4].
			</div>
			<div>
				Reducing <span>methane emissions </span> now can lead to quicker reductions
				in <span>global warming</span> and atm. <span>GHG</span> levels.
			</div>
		</div>
		<div class="what-if">
			<h4>So what if...</h4>
			<div class="text1">
				GMO plants used to feed <span>cows</span> could be modified to
			</div>
			<div class="text2">solve the methane problem <span>?</span></div>
			<button>Learn More</button>
		</div>
		<div class="bottom">
			<div class="iframe-wrapper">
				<iframe
					title="Waterloo: BovEco (English) (2024) - Project Promotion [English]"
					width="560"
					height="315"
					src="https://video.igem.org/videos/embed/e9018998-06ef-4fa8-942a-1e224e8f3c82"
					sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
				></iframe>
				<iframe
					title="Waterloo: BovEco (French) (2024) - Project Promotion [French]"
					width="560"
					height="315"
					src="https://video.igem.org/videos/embed/12d3d180-10f4-4357-83f1-6ea34b6c82b6"
					sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
				></iframe>
			</div>
			<div class="references">
				<h4>References</h4>
				<ul>
					<li>
						[1] Ian Tiseo. (2023). Global cattle methane emissions 1990-2021.
						Statista.
						https://www.statista.com/statistics/1261318/cattle-methane-emissions-worldwide/#:~:text=Methane%20emissions%20produced%20by%20cattle%20worldwide%201990%2D2021&
						text=Global%20methane%20(CH4)%20emissions%20produced,since%20the%20turn%20of%20century.
						<br />%20Earth%20+%20Rising%20temperature
					</li>
					<li>
						[2] Agricultural Canada and Agri-Food Canada. (2019). Government of
						Canada. Reducing methane emissions from livestock.
						https://agriculture.canada.ca/en/science/story-agricultural-science/scientific-achievements-agriculture/reducing-methane-emissions-livestock
					</li>
					<li>
						[3] Tseten, T., Sanjorjo, R. A., Kwon, M., & Kim, S. W. (2022).
						Strategies to Mitigate Enteric Methane Emissions from Ruminant
						Animals. Journal of microbiology and biotechnology, 32(3), 269–277.
						https://doi.org/10.4014/jmb.2202.02019
					</li>
					<li>
						[4] International Energy Agency (2022). Methane and climate change –
						global methane tracker 2022 – analysis. IEA.
						https://www.iea.org/reports/global-methane-tracker-2022/methane-and-climate-change
					</li>
				</ul>
			</div>
		</div>
	</main>
</HomeLayout>

<style lang="scss">
	@import '../global.scss';
	main {
		.welcome-text {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: $accent-1;
			margin-top: 2.5rem;
			z-index: -50;

			img {
				width: 10rem;
				filter: hue-rotate(275deg) saturate(50%);
				margin-bottom: 0.75rem;
			}

			h1 {
				font-family: 'Quartzo', sans-serif;
				font-size: 10rem;
				text-shadow: 5px 5px 0 $accent-3;
				margin-top: -0.5rem;
			}

			h2 {
				font-size: 2.25rem;

				span {
					&:nth-of-type(1) {
						color: $accent-4;
						text-shadow: 2.5px 2.5px 0 $accent-3;
					}

					&:nth-of-type(2) {
						color: rgba($secondary, 0.8);
						text-shadow: 2.5px 2.5px 0 $accent-3;
					}

					&:nth-of-type(3) {
						box-shadow: 15px 15px 1px $accent-1;
					}
				}
			}

			h3 {
				font-size: 2rem;
			}
		}

		.stat1 {
			display: flex;
			justify-content: center;
			align-items: center;
			background: $accent-1;
			color: $primary;
			padding: 3rem;
			margin-top: 30rem;

			.num {
				min-width: 4ch; // avoid layout shift
				font-size: 15rem;
				text-shadow: 5px 5px 0 $secondary;
				margin-bottom: -2.5rem;
			}

			.text {
				font-size: 3rem;

				span {
					&:nth-of-type(1) {
						color: $accent-3;
					}

					&:nth-of-type(2) {
						color: $secondary;
					}
				}
			}
		}

		.stat2 {
			display: flex;
			flex-direction: column;
			font-size: 5rem;
			margin-top: 30rem;

			div {
				width: 60%;
				margin-top: 8rem;
				margin-left: 5rem;
				position: relative;
				animation: bounce-around 2s ease infinite;

				&:nth-of-type(2) {
					margin-top: 3rem;
				}

				.cow-num {
					color: rgba($secondary, 0.6);
					text-shadow: 5px 5px 0 $primary;
				}

				.methane {
					color: rgba($accent-4, 0.8);
					text-shadow: 5px 5px 0 $accent-3;
				}
			}

			img {
				&:nth-of-type(1) {
					width: 35rem;
					filter: sepia(50%);
					margin-top: 5rem;
					position: absolute;
					right: 0;
					z-index: 5;
				}
				&:nth-of-type(2) {
					width: 20rem;
					opacity: 0.9;
					margin-top: 15rem;
					position: absolute;
					right: 0;
					clip-path: inset(0 0 48% 0);
				}
			}
		}

		.stat3 {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			font-size: 2.5rem;
			margin-top: 20rem;

			.num {
				font-size: 18rem;
				text-shadow: 5px 5px 0 $accent-3;
				color: rgba($primary, 0.7);
				margin-top: 1.5rem;
				margin-bottom: -1rem;
			}

			.text {
				width: 50%;
				line-height: 1.25;

				span {
					&:nth-of-type(1) {
						color: rgba($primary, 0.7);
					}
					&:nth-of-type(2) {
						color: $accent-4;
					}

					&:nth-of-type(3) {
						color: $secondary;
					}
				}
			}
		}

		.fact1 {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 5rem;
			font-size: 3rem;
			color: $primary;
			margin-top: 30rem;
			margin-left: -7rem;
			position: relative;

			div {
				background: $accent-4;
				padding: 2rem;
				animation: bounce-around 2s ease infinite;
				&:nth-of-type(1) {
					position: relative;
					top: -10%;
					left: -10%;
				}

				&:nth-of-type(2) {
					position: relative;
					top: 10%;
					left: 10%;
				}

				span {
					color: $secondary;
				}
			}
		}

		.fact2 {
			display: flex;
			flex-direction: column;
			align-items: center;
			line-height: 1.1;
			font-size: 3rem;
			background: $accent-2;
			color: $primary;
			padding: 3rem 0;
			margin-top: 30rem;

			img {
				filter: sepia(80%);
				box-shadow: 1px 1px 20px $accent-3;
				margin: 3rem 0;
			}

			div {
				width: 65%;
				text-align: center;
				margin-bottom: 1rem;

				.methane {
					color: $accent-3;
				}
				.animal {
					color: $secondary;
				}
			}
		}

		.fact3 {
			margin-top: 30rem;

			img {
				width: 20rem;
				filter: hue-rotate(10deg) saturate(120%) brightness(110%);

				&:nth-of-type(1) {
					transform: rotate(-90deg);
					position: absolute;
					right: -1rem;
					margin-left: 2rem;
				}

				&:nth-of-type(2) {
					position: absolute;
					left: -1rem;
					transform: rotate(90deg);
				}
			}

			div {
				width: 70%;
				font-size: 5rem;
				color: $secondary;
				padding: 1rem;
				margin: 4rem;
				animation: bounce-around 2s ease infinite;

				span {
					color: $accent-3;
					text-shadow: 5px 5px 0 $accent-4;
				}
			}
		}

		.stat4 {
			display: flex;
			flex-direction: column;
			align-items: end;
			text-align: right;
			line-height: 1.25;
			font-size: 3rem;
			background: $accent-2;
			color: $primary;
			padding: 3rem;
			margin-top: 50rem;

			h4 {
				font-size: 5rem;
			}

			.img-wrapper {
				display: flex;
				justify-content: flex-end;
				gap: 1rem;
				margin: 2rem 0;

				img {
					width: 20rem;
					filter: sepia(80%);
					right: 0;
				}
			}

			div {
				margin-bottom: 1rem;

				span {
					color: $accent-3;
				}
			}
		}

		@keyframes bounce-around {
			100% {
				transform: translateY(0);
			}
			40% {
				transform: translateY(-10px);
			}
			60% {
				transform: translateY(-5px);
			}
		}

		.what-if {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 2rem;
			font-size: 3rem;
			margin-top: 30rem;
			margin-left: 4rem;

			h4 {
				font-size: 10rem;
				text-shadow: 5px 5px 0 $accent-3;
				color: $primary;
			}

			.text1 {
				font-size: 6rem;
				color: $accent-1;

				span {
					color: $secondary;
					text-shadow: 2.5px 2.5px 0 $primary;
				}
			}

			.text2 {
				font-size: 8rem;
				color: $accent-4;

				span {
					font-size: 15rem;
					text-shadow: 5px 5px 0 $accent-3;
					margin-left: 2rem;
					position: absolute;
				}
			}

			button {
				background: $accent-1;
				color: $primary;
				font-size: 3rem;
				padding: 1rem 2rem;
				border: none;
				border-radius: 1rem;
				margin-top: 1.5rem;
				box-shadow: 5px -10px 0 $accent-3;
				cursor: pointer;
				@include transition-ease;

				&:hover {
					background: $accent-4;
				}

				&:active {
					transform: scale(0.95);
					box-shadow: 5px -4px 0 $accent-3;
				}
			}
		}

		.bottom {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;

			.iframe-wrapper {
				display: flex;
				align-items: center;
				gap: 2rem;

				iframe {
					margin: 5rem 1rem;
				}
			}

			.references {
				width: 100%;
				background: linear-gradient(to bottom, #005a9c, #001f4d);
				color: $primary;
				opacity: 0.7;
				padding: 2rem;
				clip-path: polygon(
					0 10px,
					10% 5px,
					20% 15px,
					30% 5px,
					40% 10px,
					50% 5px,
					60% 15px,
					70% 5px,
					80% 10px,
					90% 5px,
					100% 10px,
					100% 100%,
					0 100%
				);

				h4 {
					font-size: 5rem;
					color: #fff;
					text-align: center;
					text-shadow: 2px 2px 0 rgba(0, 0, 50, 0.6);
					margin-top: 2rem;
				}

				ul {
					width: 70%;
					font-size: 1.25rem;
					list-style-type: none;
					padding: 1rem;
					color: rgba(255, 255, 255, 0.9);
					line-height: 1.5;
					text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

					li {
						margin: 1rem 0;
						position: relative;
						padding-left: 1rem;

						&::before {
							content: '•';
							font-size: 2.5rem;
							color: rgba(255, 255, 255, 0.5);
							position: absolute;
							top: -0.5rem;
							left: -1rem;
							animation: move-bubble 3s ease-in-out infinite;
						}
					}
				}
			}

			@keyframes move-bubble {
				0% {
					transform: translateY(0);
					opacity: 0.7;
				}
				50% {
					transform: translateY(-10px);
					opacity: 1;
				}
				100% {
					transform: translateY(0);
					opacity: 0.7;
				}
			}
		}
	}
</style>
