---
import TeamLayout from '../layouts/TeamLayout.astro';
import MemberProfile from '../components/MemberProfile.astro';
---

<TeamLayout title="Members | BovEco - iGEM 2024">
	<main>
		<section class="hero">
			<div class="text">
				<h1>
					<span class="lnd">MEET</span>
					<span class="mnm">THE</span>
					<span class="hp">TEAM!</span>
				</h1>
				<h2>
					<span class="lnd">Waterloo</span>
					<span class="mnm">iGEM</span>
					<span class="hp">2024</span>
				</h2>
			</div>
			<iframe
				title="Waterloo: Team Pictures (2024)"
				width="560"
				height="315"
				src="https://video.igem.org/videos/embed/fec72963-4abe-48a0-b360-05353de818d9"
				sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
			>
			</iframe>
		</section>
		<section class="members-container">
			<h3>Lab & Design</h3>
			<div id="lnd">
				<MemberProfile name="aadila-zakir-hussain" />
				<MemberProfile name="alex-d-souza2" />
				<MemberProfile name="athena-chong" />
				<MemberProfile name="ayana-pak" />
				<MemberProfile name="bethany-chan" />
				<MemberProfile name="curtis-yeung" />
				<MemberProfile name="douglas-moulton" />
				<MemberProfile name="emma-llewellyn" />
				<MemberProfile name="felix-tham" />
				<MemberProfile name="hannah-tao" />
				<MemberProfile name="lauren-robinson" />
				<MemberProfile name="mahnoor-butt" />
				<MemberProfile name="milena-gojsevic" />
				<MemberProfile name="noura-abdelrazec" />
				<MemberProfile name="rhyan-mclean2" />
				<MemberProfile name="stefan-grinchenko" />
				<MemberProfile name="timea-siket" />
				<MemberProfile name="yusra-pervez2" />
			</div>
			<h3>Math & Modelling</h3>
			<div id="mnm">
				<MemberProfile name="aaren-arasaratnam" />
				<MemberProfile name="anh-mai" />
				<MemberProfile name="david-makarczyk" />
				<MemberProfile name="elysia-wang" />
				<MemberProfile name="emily-wang" />
				<MemberProfile name="jashan-khangura" />
				<MemberProfile name="leigh-hannah" />
				<MemberProfile name="naomi-eshetu" />
				<MemberProfile name="rebekah-xing" />
				<MemberProfile name="shilpa-rao" />
				<MemberProfile name="wallace-lee" />
				<MemberProfile name="yash-soobarah" />
			</div>
			<h3>Human Practices</h3>
			<div id="hp">
				<MemberProfile name="aliyah-warsi" />
				<MemberProfile name="amal-al-dalawi" />
				<MemberProfile name="amberlee-morgan" />
				<MemberProfile name="chloe-ding2" />
				<MemberProfile name="isabella-d-costa" />
				<MemberProfile name="michael-saunders" />
				<MemberProfile name="ray-shamshoum" />
				<MemberProfile name="sasha-dhingra" />
				<MemberProfile name="trisha-shankara-subramanian" />
			</div>
		</section>
	</main>
</TeamLayout>

<style lang="scss">
	@import '../global.scss';

	main {
		.hero {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 3rem;
			background: rgba($secondary, 0.1);
			padding: 1rem;
			border: 0.5rem solid rgba($primary, 1);
			margin-top: 1rem;

			.text {
				text-align: center;
				line-height: 1.1;

				h1 {
					font-size: 5rem;
				}

				h2 {
					font-size: 3rem;
				}

				h1,
				h2 {
					.lnd {
						color: $lnd;
					}
					.mnm {
						color: $mnm;
					}
					.hp {
						color: $hp;
					}
				}
			}

			iframe {
				border: none;
			}
		}
	}

	.members-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		padding: 3rem;

		h3 {
			font-size: 4rem;
			padding: 1rem;

			&:nth-of-type(1) {
				color: $lnd;
			}
			&:nth-of-type(2) {
				color: $mnm;
			}
			&:nth-of-type(3) {
				color: $hp;
			}
		}

		div {
			display: flex;
			flex-wrap: wrap;
			gap: 3rem;
			opacity: 0.95;
			padding: 3rem;

			&:nth-of-type(1) {
				background: $lnd;
			}
			&:nth-of-type(2) {
				background: $mnm;
			}
			&:nth-of-type(3) {
				background: $hp;
			}
		}
	}
</style>
