---
import DryLabLayout from '../layouts/DryLabLayout.astro';
import Card from '../components/Card.astro';
---

<DryLabLayout title="Models | BovEco - iGEM 2024">
	<main>
		<div></div>
		<Card title="hi" content="poopity scoop" />
	</main>
</DryLabLayout>
