---
import HPLayout from '../layouts/HumanPracticesLayout.astro';
import HeroBanner from '../components/HeroBanner.astro';
import Card from '../components/Card.astro';
---

<HPLayout title="Problem Space | BovEco - iGEM 2024">
  <main>
    <HeroBanner title="PROBLEM SPACE" layout="hp" />
    <Card heading="All About Methane" layout="hp">
      <p>
        The problem of methane emissions is worth noting. It is the second
        largest contributor to greenhouse gas emissions after carbon dioxide.
        Methane is a highly effective greenhouse gas and ranks as the
        second-largest contributor to global warming. The main sources of
        methane emissions are fossil fuels, agricultural practices, and the
        breakdown of landfill waste, with agriculture accounting for the largest
        share [1]. In the last 200 years, atmospheric methane levels have more
        than doubled, and it is believed to contribute to 20% to 30% of climate
        warming since the 1750s [1].
      </p>
      <br />
      <p>
        The impact of greenhouse gases on the climate is influenced by two main
        characteristics: their atmospheric lifetime and their energy absorption
        capacity. While methane has a much shorter atmospheric lifespan of about
        12 years compared to carbon dioxide's centuries, it absorbs
        significantly more energy during that time [2]. Additionally, methane
        contributes to air quality issues by leading to the formation of
        ground-level ozone, a harmful pollutant, and methane leaks can pose
        explosion risks [2]. Although estimates of methane emissions carry a
        degree of uncertainty, the latest assessment from the Global Methane
        Budget indicates that annual global methane emissions are around 580
        million tons, with approximately 40% stemming from natural sources and
        the remaining 60% from human activities, known as anthropogenic
        emissions [2]. The largest anthropogenic source is agriculture, which
        accounts for about a quarter of total emissions, closely followed by the
        energy sector, which includes emissions from coal, oil, natural gas, and
        biofuels [2]. Methane’s short lifespan presents a critical opportunity
        to slow global warming. Unlike with carbon dioxide, reducing methane
        emissions over time can reduce the total accumulated quantity of this
        greenhouse gas [2,3].
      </p>
      <br />
      <p>
        A recent United Nations assessment highlights the urgent need to reduce
        methane emissions from agriculture as a crucial strategy in combating
        climate change [3]. Factors such as population growth, economic
        development, urban migration, and increasing demand for animal protein
        are driving a rise in agricultural methane emissions [3]. Methane
        significantly contributes to ground-level ozone formation, which is
        linked to approximately one million premature deaths each year [3]. It
        is also 80 times more potent than carbon dioxide in terms of warming
        over a 20-year period and has been responsible for about 30% of global
        warming since the pre-industrial era [3]. Methane levels are currently
        rising at an unprecedented rate, with notable increases observed in 2020
        despite a temporary decline in carbon dioxide emissions due to the
        COVID-19 pandemic [2,3]. Livestock emissions, primarily from manure and
        digestion, account for roughly 32% of human-caused methane emissions,
        and with the global population nearing 10 billion, demand for animal
        protein is expected to rise by up to 70% by 2050 [3]. This emphasizes
        the crucial need for effective strategies to mitigate methane emissions.
      </p>
      <br />
      <p>
        In 2021, agriculture accounted for 31% of Canada’s total methane
        emissions, primarily due to enteric fermentation from beef and dairy
        cattle, which produces methane during the natural digestive process [4].
        For instance, a lactating dairy cow emits approximately 400 grams of
        methane daily. These emissions accumulate rapidly- over the course of a
        year, the methane produced by a single dairy cow is comparable to the
        greenhouse gas emissions from a mid-sized vehicle driven for 20,000
        kilometers [5]. To address this issue, Canada’s Greenhouse Gas Offset
        Credit System incentivizes farmers, municipalities, indigenous
        communities, foresters, and other project developers in various sectors,
        including agriculture, waste, and forestry, to implement domestic
        projects that reduce greenhouse gas emissions. The REME (Reducing
        Enteric Methane Emissions) protocol enhances the existing suite of
        protocols established since the launch of this Offset Credit System,
        which is part of Canada’s broader strategy to achieve a 40 to 45%
        reduction in domestic greenhouse gas emissions below 2005 levels by
        2030, as outlined in Canada’s 2030 Emissions Reduction Plan [4,6]. This
        also goes hand in hand with the Global Methane Pledge, an act signed by
        over 150 countries, including Canada and the USA [2]. The pledge
        proposes to reach climate neutrality by 2050 [6]. The plan set to
        achieve this involves having greenhouse gas emissions reduced by 50% in
        2030, with an annual 1% decrease moving forwards [6].
      </p>
    </Card>
    <Card heading="Enteric Fermentation" layout="hp">
      <p>
        In the rumen, the first stomach compartment of cattle, microbes break
        down organic compounds from feed. This digestive process results in the
        release of methane as a by-product, which is belched out by ruminants in
        the process called enteric fermentation. Addressing this biological
        process is crucial to reduce methane emissions and combat global warming
        effectively. By leveraging this understanding of the microbiological
        processes involved, solutions that target methane-producing organisms
        directly could provide a practical and sustainable approach to reduce
        emissions, particularly in the context of agriculture and livestock
        farming. Having an effective methane emission reducing solution would be
        key to observe immediate effects in clearing greenhouse gas emissions,
        especially since it has a greater short term impact than carbon dioxide.
      </p>
    </Card>
    <Card heading="Strategies to Control Methane Emissions" layout="hp">
      <p>
        One of the main targeted strategies to control methane emissions is to
        increase the production of propionate, allowing for hydrogen to be used
        up instead of participating in the methanogenesis pathway [7]. This is
        done through making adjustments to cow diets, altering rumen
        fermentation. For instance, grain-based diets have shown to lower the pH
        of the rumen and be able to increase propionate production [7]. An
        alternative controlling strategy is to employ the use of bioactive
        compounds. Chemicals such as bromoforms, which originate from red
        seaweed, can directly inhibit the production of methane [7]. There are
        also various essential oils, tanninns, saponins, and flavonoids that
        possess these anti-methanogenic properties [7]. Lipid supplementation
        works by adding various fat sources to the cow feed in the form of
        oilseeds, animal fats and others to alter the fermentation pattern of
        the rumen and thus increase propionate production [7]. A final
        controlling strategy proposed is through artificial selection for lower
        methane producing cows [7].
      </p>
    </Card>
    <Card heading="Gaps in Current Solutions" layout="hp">
      <p>
        Solutions that currently exist to reduce methane emissions attempt to
        target one of the control strategies mentioned above. Most of these
        solutions involve usage of feed additives. One of the mainstream and
        popularly used feed additives is 3-Nitrooxypropanol (3-NOP), a
        chemically synthesized compound which works by inhibiting the enzyme
        methyl coenzyme-M reductase (MCR) in methanogens, thereby reducing
        methane emissions by approximately 22-25% [8]. Other feed additives,
        such as ionophores and oils have been developed and tested but only have
        limited methane-reduction benefits [7]. The current solutions present
        several challenges. Some of these limitations include high costs for
        production, lack of eco-friendly manufacturing, limited/temporary
        efficacy, the need for continuous supplementation, environmental and
        health concerns. Some additives, such as bormoform and ionophore
        compounds, are subject to governmental restrictions in some regions,
        being restricted and banned for use in some countries [7,9]. More
        importantly, feed additives often lead to reduced feed efficiency, or
        raise concerns about the impact towards health and productivity of the
        animal (beef and dairy) [7]. For farmers whose primary concerns are to
        maintain their farming businesses, costly feed additives targeting
        methane are impractical: there is no incentive to purchase an additional
        costly product that simply reduces methane emissions, without
        significant yield or performance benefits.
      </p>
      <br />
      <p>
        As such, there remains a gap in providing a sustainable, scalable, and
        practical solution that can be widely adopted without imposing
        significant financial burdens on farmers. And for these reasons
        outlined, we chose to use phage derived lytic enzymes in our two step
        plan.
      </p>
    </Card>
  </main>
</HPLayout>

<style lang="scss">
  @import '../global.scss';

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 0 1em;
  }
</style>
