---
import HPLayout from '../layouts/HumanPracticesLayout.astro';
import HeroBanner from '../components/HeroBanner.astro';
import Card from '../components/Card.astro';
---

<HPLayout title="Problem Space | BovEco - iGEM 2024">
  <main>
    <HeroBanner title="PROBLEM SPACE" layout="hp" />
    <Card heading="All About Methane" layout="hp">
      <p>hello</p>
    </Card>
  </main>
</HPLayout>
