---
import DryLabLayout from '../layouts/DryLabLayout.astro';
import HeroBanner from '../components/HeroBanner.astro';
import Card from '../components/Card.astro';
---

<DryLabLayout title="Software | BovEco - iGEM 2024">
	<main>
		<HeroBanner title="Software" />
		<Card title="hi" content="poopity scoop" />
	</main>
</DryLabLayout>
