---
import HomeLayout from '../layouts/DryLabLayout.astro';
import Card from '../components/Card.astro';
---

<HomeLayout title="Software | BovEco - iGEM 2024">
	<main>
		<div></div>
	</main>
</HomeLayout>
