---
import TeamLayout from '../layouts/TeamLayout.astro';
import Card from '../components/Card.astro';
---

<TeamLayout title="BovEco-Members">
	<main>
		<div>
			<div class="heading">MEET THE TEAM!</div>
		</div>
	</main>
</TeamLayout>

<style lang="scss">
	@import '../global.scss';

	div {
		height: 400vh;
	}
</style>
