---
interface Props {
	heading?: string;
	layout: string;
}

const { heading, layout } = Astro.props;

let bkgdColor = '';
if (layout === 'lnd')
	bkgdColor = 'rgb(151, 200, 216)'; // $lnd
else if (layout === 'mnm')
	bkgdColor = 'rgb(146, 81, 146)'; // $mnm
else bkgdColor = 'rgb(99, 183, 144);'; // $hp
---

<div id="card">
	{heading && <h2 class="heading">{heading}</h2>}
	<div class="content">
		<slot />
	</div>
</div>

<style lang="scss" define:vars={{ bkgdColor: bkgdColor }}>
	@import '../global.scss';
	#card {
		max-width: 600px;
		background-color: $primary;
		padding: 1.5em;
		border: 2px solid var(--bkgdColor);
		border-radius: 2px;
		margin: 2em 0;
		box-shadow:
			2px 2px 0 var(--bkgdColor),
			4px 4px 0 $secondary;
		image-rendering: pixelated;

		&:hover {
			transform: scale(1.01);
			transition: transform 0.3s ease;
		}

		.heading {
			font-size: 1.4rem;
			margin-bottom: 1em;
			text-align: center;
		}

		.content {
			font-size: 0.95rem;
			line-height: 1.6;
		}
	}
</style>
