<footer>
  <div class="left">
    <img
      src="https://static.igem.wiki/teams/5118/img/waterloo-igem.webp"
      alt="Waterloo iGEM Logo"
    />
    <div class="contact">
      <a href="https://igem.uwaterloo.ca/" target="_blank">
        <img
          src="https://static.igem.wiki/teams/5118/img/socials/website.webp"
          alt="Website"
        />
      </a>
      <a href="https://www.instagram.com/waterloo.igem/" target="_blank">
        <img
          src="https://static.igem.wiki/teams/5118/img/socials/instagram.webp"
          alt="Instagram"
        />
      </a>
      <a href="https://www.linkedin.com/company/waterloo-igem/" target="_blank">
        <img
          src="https://static.igem.wiki/teams/5118/img/socials/linkedin.webp"
          alt="LinkedIn"
        />
      </a>
      <a href="https://www.facebook.com/WaterlooiGEM/" target="_blank">
        <img
          src="https://static.igem.wiki/teams/5118/img/socials/facebook.webp"
          alt="Facebook"
        />
      </a>
    </div>
  </div>
  <div class="right">
    <div class="sponsors">
      <img
        src="https://static.igem.wiki/teams/5118/img/sponsors/gras.webp"
        alt="GRAS"
      />
      <img
        src="https://static.igem.wiki/teams/5118/img/sponsors/wcmr.webp"
        alt="WCMR"
      />
      <img
        src="https://static.igem.wiki/teams/5118/img/sponsors/mef.webp"
        alt="MEF"
      />
      <img
        src="https://static.igem.wiki/teams/5118/img/sponsors/weef.webp"
        alt="WEEF"
      />
      <img
        src="https://static.igem.wiki/teams/5118/img/sponsors/science-society.webp"
        alt="Science Society"
      />
      <img
        src="https://static.igem.wiki/teams/5118/img/sponsors/cbb.webp"
        alt="CBB"
      />
      <img
        src="https://static.igem.wiki/teams/5118/img/sponsors/idt.webp"
        alt="IDT"
      />
      <img
        src="https://static.igem.wiki/teams/5118/img/sponsors/snapgene.webp"
        alt="SnapGene"
      />
    </div>
    <div class="footer-info">
      <div>
        © 2024 - Content on this site is licensed under a
        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
          Creative Commons Attribution 4.0 International license.
        </a>
      </div>
      <div>
        The repository used to create this website is available at
        <a href="https://gitlab.igem.org/2024/waterloo" target="_blank">
          https://gitlab.igem.org/2024/waterloo.
        </a>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  @import '../global.scss';

  footer {
    display: flex;
    padding: 0.5rem 2rem;
    background: $accent-gradient-1;
    font-size: 0.8rem;
    color: $secondary;
    border-top: 1px solid $accent-2;

    .left {
      display: flex;
      align-items: center;

      img {
        width: 10rem;
        margin-right: 2rem;
      }

      .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0.5rem;
        margin-right: -3rem;

        img {
          object-fit: contain;
          width: 3rem;
          height: 3rem;

          &:hover {
            filter: invert(100%) opacity(80%);
            @include transition-ease;
          }
        }

        @media only screen and (max-width: 1279px) {
          & {
            grid-template-columns: auto;
          }
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: left;
      width: 100%;
      margin-left: 5rem;

      .sponsors {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        img {
          object-fit: contain;
          max-width: 6rem;

          &:nth-of-type(6) {
            max-width: 4rem;
          }
        }
      }

      .footer-info {
        text-align: left;
        line-height: 1.5;

        a:hover {
          color: rgba($primary, 0.8);
          @include transition-ease;
        }
      }
    }
  }
</style>
