<footer>
  <div class="left">
    <img src="img/waterloo-igem-2.svg" alt="Waterloo iGEM Logo" />
    <div class="contact">
      <a href="https://igem.uwaterloo.ca/" target="_blank">
        <img src="img/contact/website.png" alt="Website" />
      </a>
      <a href="https://www.instagram.com/waterloo.igem/" target="_blank">
        <img src="img/contact/instagram.png" alt="Instagram" />
      </a>
      <a href="https://www.linkedin.com/company/waterloo-igem/" target="_blank">
        <img src="img/contact/linkedin.png" alt="LinkedIn" />
      </a>
      <a href="https://www.facebook.com/WaterlooiGEM/" target="_blank">
        <img src="img/contact/facebook.png" alt="Facebook" />
      </a>
    </div>
  </div>
  <div class="right"></div>
  <div>
    © 2024 - Content on this site is licensed under a
    <a href="https://creativecommons.org/licenses/by/4.0/">
      Creative Commons Attribution 4.0 International license.
    </a>
  </div>
  <div>
    The repository used to create this website is available at
    <a href="https://gitlab.igem.org/2024/waterloo" target="_blank">
      https://gitlab.igem.org/2024/waterloo
    </a>
  </div>
</footer>

<style lang="scss">
  @import '../global.scss';

  footer {
    display: flex;
    justify-content: space-between;
    background: $accent-2;
    padding: 1rem 0;
    font-size: 0.8rem;
    color: black;

    .left {
      display: flex;
      border-right: 1px solid black;
    }
  }
</style>
