<footer>
  <div class="left">
    <img src="img/waterloo-igem.png" alt="Waterloo iGEM Logo" />
    <div class="contact">
      <a href="https://igem.uwaterloo.ca/" target="_blank">
        <img src="img/socials/website.png" alt="Website" />
      </a>
      <a href="https://www.instagram.com/waterloo.igem/" target="_blank">
        <img src="img/socials/instagram.png" alt="Instagram" />
      </a>
      <a href="https://www.linkedin.com/company/waterloo-igem/" target="_blank">
        <img src="img/socials/linkedin.png" alt="LinkedIn" />
      </a>
      <a href="https://www.facebook.com/WaterlooiGEM/" target="_blank">
        <img src="img/socials/facebook.png" alt="Facebook" />
      </a>
    </div>
  </div>
  <div class="right">
    <div class="sponsors">
      <!-- TO DO: add links to their sites on click? -->
      <img src="img/sponsors/gras.png" alt="GRAS" />
      <img src="img/sponsors/wcmr.png" alt="WCMR" />
      <img src="img/sponsors/mef.png" alt="MEF" />
      <img src="img/sponsors/weef.png" alt="WEEF" />
      <img src="img/sponsors/science-society.png" alt="Science Society" />
      <img src="img/sponsors/cbb.png" alt="CBB" />
      <img src="img/sponsors/idt.png" alt="IDT" />
      <img src="img/sponsors/snapgene.png" alt="SnapGene" />
    </div>
    <div class="footer-info">
      <div>
        © 2024 - Content on this site is licensed under a
        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
          Creative Commons Attribution 4.0 International license.
        </a>
      </div>
      <div>
        The repository used to create this website is available at
        <a href="https://gitlab.igem.org/2024/waterloo" target="_blank">
          https://gitlab.igem.org/2024/waterloo.
        </a>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  @import '../global.scss';

  footer {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 2rem;
    background: $accent-gradient-2;
    font-size: 0.8rem;
    color: $secondary;
    border: none;

    .left {
      display: flex;
      align-items: center;
      margin-right: 1.5rem;

      img {
        width: 12.5rem;
        margin-right: 1rem;
      }

      .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
        gap: 0.5rem;

        img {
          object-fit: cover;
          width: 3.5em;
          height: 3.5em;

          &:hover {
            filter: invert(100%) opacity(60%);
            @include transition-ease;
          }
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: left;

      .sponsors {
        display: flex;
        gap: 1rem;

        img {
          object-fit: contain;
          max-width: 6rem;

          &:nth-of-type(6) {
            max-width: 4rem;
          }
        }
      }

      .footer-info {
        text-align: left;
        line-height: 1.5;

        a:hover {
          color: rgba($primary, 0.6);
          @include transition-ease;
        }
      }
    }
  }
</style>
