---
const { src = 'grass.png' } = Astro.props;
---

<div class="grass-background"></div>

<style lang="scss">
  .grass-background {
    width: 100%;
    height: 30vh; /* Adjust the height as needed */
    background-image: url('img/grass.png'); /* Update the path to your image */
    background-repeat: repeat-x; /* Repeat image horizontally */
    z-index: -1; /* Ensure it's behind other content */
    padding: 0;
    margin: 0;
  }

</style>
