---
interface Props {
  title: string;
  layout: string;
}

const { title, layout } = Astro.props;

let bkgdColor = '';
if (layout === 'lnd')
  bkgdColor = 'rgb(151, 200, 216)'; // $lnd
else if (layout === 'mnm')
  bkgdColor = 'rgb(146, 81, 146)'; // $mnm
else bkgdColor = 'rgb(99, 183, 144);'; // $hp
---

<div>
  <h1>{title}</h1>
</div>

<style lang="scss" define:vars={{ bkgdColor: bkgdColor }}>
  @import '../global.scss';

  div {
    display: flex;
    justify-content: center;
    background-color: var(--bkgdColor);
    color: $primary;
    opacity: 0.8;
    padding: 2rem;
    margin-top: -3rem;
    z-index: -20;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.25rem;
    }

    img {
      object-fit: contain;
      width: 100%;
      z-index: -10;
      position: absolute;
      border-radius: 1rem;
    }
  }
</style>
