<script>
  document.addEventListener('DOMContentLoaded', () => {
    const loadingScreen = document.querySelector(
      '.loading-overlay',
    ) as HTMLElement | null;

    if (loadingScreen) {
      // Prevent scrolling while loading screen is visible
      document.documentElement.style.overflowY = 'hidden';
      window.scrollTo(0, 0);

      window.addEventListener('load', () => {
        // Hide loading screen after the page is fully loaded
        setTimeout(() => {
          loadingScreen.classList.add('hide-overlay');
          document.documentElement.style.overflowY = 'visible';
        }, 2000);
      });
    }
  });
</script>

<div class="loading-overlay">
  <div class="text">
    <h1>Loading...</h1>
    <p>For the best viewing experience, set your zoom level to 100%!</p>
  </div>
  <img src="img/cows/walking-cow.gif" class="walking-cow" alt="Walking Cow" />
  <img src="img/environment/grass.png" class="grass" alt="Grass" />
</div>

<style lang="scss">
  @import '../global.scss';

  .loading-overlay {
    width: 100%;
    height: 100%;
    background: radial-gradient($primary 20%, $accent-3 80%, $accent-4);
    transition: opacity 0.5s ease;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    .text {
      display: flex;
      flex-direction: column;
      align-items: top;
      width: 100%;
      color: $accent-2;
      margin-left: 4rem;
      position: relative;
      top: 7rem;

      h1 {
        font-family: 'Quartzo', sans-serif;
        font-size: 5rem;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 2rem;
      }
    }

    .walking-cow {
      width: 300px;
      height: 300px;
      position: absolute;
      bottom: 1rem;
      animation: move-cow-across-screen 60s infinite linear;
    }

    .grass {
      width: 100%;
      height: 10rem;
      position: absolute;
      bottom: 0;
      z-index: -1;
      image-rendering: pixelated;
      filter: hue-rotate(35deg) saturate(55%) brightness(80%);
    }
  }

  .hide-overlay {
    opacity: 0;
    pointer-events: none;
  }

  @keyframes move-cow-across-screen {
    0% {
      transform: translateX(0vw);
    }
    100% {
      transform: translateX(100vw);
    }
  }
</style>
