<nav>
  <a href="/waterloo/"><img src="img/logo.png" /></a>
  <div class="navlinks">
    {
      // Section dropdowns
      ['Project', 'Team', 'Wet Lab', 'Dry Lab', 'Human Practices'].map(
        title => (
          <div class="dropdown">
            <div class="dropbtn">
              {title} <span>&#11206;</span>
            </div>
            <div class="dropdown-content">
              {title === 'Project' && ( 
                <a href="/waterloo/contribution">Contribution</a>
                <a href="/waterloo/description">Description</a>
                <a href="/waterloo/engineering">Engineering</a>
              )}
              {title === 'Team' && (
                <a href="/waterloo/members">Members</a>
                <a href="/waterloo/attributions">Attributions</a>
              )}
              {title === 'Wet Lab' && (
                <a href="/waterloo/design">Design</a>
                <a href="/waterloo/notebook">Notebook</a>
                <a href="/waterloo/safety">Safety</a>
              )}
              {title === 'Dry Lab' && (
                <a href="/waterloo/model">Models</a>
                <a href="/waterloo/software">Software</a>
                <a href="/waterloo/bioinformatics">Bioinformatics</a>
              )}
              {title === 'Human Practices' && (
                <a href="/waterloo/problem-space">Problem Space</a>
                <a href="/waterloo/human-practices">Integrated HP</a>
                <a href="/waterloo/policy-research">Policy Research</a>
                <a href="/waterloo/education">Education</a>
                <a href="/waterloo/inclusivity">Inclusivity</a>
              )}
            </div>
          </div>
        ),
      )
    }
  </div>
</nav>

<style lang="scss">
  @import '../global.scss';

  nav {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    z-index: 50;
    a img {
      width: 8rem;
      margin-left: 1.5em;
      z-index: 50;
      position: absolute;
      filter: hue-rotate(20deg) opacity(99%);

      &:hover {
        filter: hue-rotate(45deg) sepia(50%);
        @include transition-ease;
      }
    }
    .navlinks {
      display: flex;
      gap: 1.5rem;
      padding: 1rem 1rem;
      margin-right: 0.5rem;

      .dropdown {
        .dropbtn {
          background: $accent-1; 
          color: $primary;
          padding: 0.4em;
          border-radius: 0.25em;

          span {
            font-size: 0.65em;
            position: relative;
            bottom: 0.15em;
          }
        }

        .dropdown-content {
          display: flex;
          flex-direction: column;
          opacity: 0;
          line-height: 1.8em;
          font-weight: normal;
          background: $primary;
          color: $accent-1;
          padding: 0.5rem;
          border: 1px solid $accent-1;
          border-radius: 0.25em;

          position: absolute;
          z-index: 50;
        }

        &:hover .dropdown-content {
          opacity: 1;
          @include transition-ease;
        }

        a {
          &:hover,
          &:focus {
            color: $accent-1;
            @include transition-ease;
          }
        }
      }
    }
  }
</style>
