<nav>
  <a href="/"><img style="" src="img/logo.png" /></a>
  <div class="navlinks">
    <div class="dropdown">
      <div class="dropbtn">
        Team
        <span>&#11206;</span>
      </div>
      <div class="dropdown-content">
        <a href="/team">Members</a>
        <a href="/attributions">Attributions</a>
      </div>
    </div>

    <div class="dropdown">
      <div class="dropbtn">Project <span>&#11206;</span></div>
      <div class="dropdown-content">
        <a href="/contribution">Contribution</a>
        <a href="/description">Description</a>
        <a href="/engineering">Engineering</a>
      </div>
    </div>

    <div class="dropdown">
      <div class="dropbtn">Wet Lab <span>&#11206;</span></div>
      <div class="dropdown-content">
        <a href="/design">Design</a>
        <a href="/experiments">Experiments</a>
        <a href="/notebook">Notebook</a>
        <a href="/notebook">Results</a>
      </div>
    </div>

    <div class="dropdown">
      <div class="dropbtn">Dry Lab <span>&#11206;</span></div>
      <div class="dropdown-content">
        <a href="/model">Models</a>
        <a href="/software">Software</a>
      </div>
    </div>

    <div class="dropdown">
      <div class="dropbtn">Human Practices <span>&#11206;</span></div>
      <div class="dropdown-content">
        <a href="/education">Education</a>
      </div>
    </div>
  </div>
</nav>

<style lang="scss">
  @import '../global.scss';

  nav {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    z-index: 10;
    a img {
      width: 8rem;
      margin-left: 1.5em;
      position: fixed;
      filter: sepia(100%);
    }
    .navlinks {
      display: flex;
      gap: 1.5rem;
      // background: $accent-2;
      padding: 1rem 1rem;
      overflow: hidden;

      .dropdown {
        .dropbtn {
          background: #677f6c;
          color: $accent-3;
          padding: 0.4em;
          border-radius: 0.25em;
          // Dropdown arrows
          span {
            font-size: 0.65em;
            position: relative;
            bottom: 0.15em;
          }
        }

        .dropdown-content {
          display: flex;
          flex-direction: column;
          // height: 0px !important;
          opacity: 0;
          line-height: 1.8em;
          font-weight: normal;
          color: $accent-1;
          position: absolute;
        }

        &:hover .dropdown-content {
          // display: flex;
          // flex-direction: column;
          // height: 5em !important;
          opacity: 1;
          @include transition-ease;
        }

        a {
          &:hover {
            color: $accent-1;
            @include transition-ease;
          }

          &:focus {
            color: $accent-1;
          }
        }
      }
    }
  }
</style>
