<nav>
  <a href="/waterloo/"><img src="img/logo.png" /></a>
  <div class="navlinks">
    {
      ['Project', 'Team', 'Wet Lab', 'Dry Lab', 'Human Practices'].map(
        (title, index) => (
          <div class="dropdown">
            <div class="dropbtn">
              {title} <span>&#11206;</span>
            </div>
            <div class="dropdown-content">
              {title === 'Project' && ( 
                <a href="/waterloo/contribution">Contribution</a>
                <a href="/waterloo/description">Description</a>
                <a href="/waterloo/engineering">Engineering</a>
              )}
              {title === 'Team' && (
                <a href="/waterloo/team">Members</a>
                <a href="/waterloo/attributions">Attributions</a>
              )}
              {title === 'Wet Lab' && (
                <a href="/waterloo/design">Design</a>
                <a href="/waterloo/experiments">Experiments</a>
                <a href="/waterloo/notebook">Notebook</a>
                <a href="/waterloo/notebook">Results</a>
              )}
              {title === 'Dry Lab' && (
                <a href="/waterloo/model">Models</a>
                <a href="/waterloo/software">Software</a>
              )}
              {title === 'Human Practices' && (
                <a href="/waterloo/human-practices">Integrated HP</a>
                <a href="/waterloo/education">Education</a>
              )}
            </div>
          </div>
        ),
      )
    }
  </div>
</nav>

<style lang="scss">
  @import '../global.scss';

  nav {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    z-index: 50;
    a img {
      width: 8rem;
      margin-left: 1.5em;
      z-index: 50;
      position: fixed;
      filter: sepia(60%);
    }
    .navlinks {
      display: flex;
      gap: 1.5rem;
      padding: 1rem 1rem;
      // margin-right: 0.75rem;
      overflow: hidden;

      .dropdown {
        .dropbtn {
          // background: #677f6c;
          background: #2a3b53;
          color: $primary;
          padding: 0.4em;
          border-radius: 0.25em;

          span {
            // Dropdown arrows
            font-size: 0.65em;
            position: relative;
            bottom: 0.15em;
          }
        }

        .dropdown-content {
          display: flex;
          flex-direction: column;
          opacity: 0;
          line-height: 1.8em;
          font-weight: normal;
          color: #2a3b53;
          z-index: 50;
          position: absolute;
        }

        &:hover .dropdown-content {
          opacity: 1;
          @include transition-ease;
        }

        a {
          &:hover,
          &:focus {
            color: #2a3b53;

            @include transition-ease;
          }
        }
      }
    }
  }
</style>
