---

---

<nav>
  <a href="/"><img style="" src="img/logo.png" /></a>
  <div class="navlinks">
    <div class="team dropdown">
      <div class="dropbtn">Team <b>&#x2C5;</b></div>
      <div class="dropdown-content">
        <a href="/team">Members</a>
        <a href="/attributions">Attributions</a>
      </div>
    </div>

    <div class="project dropdown">
      <div class="dropbtn">Project &#x2C5;</div>
      <div class="dropdown-content">
        <a href="/contribution">Contribution</a>
        <a href="/description">Description</a>
        <a href="/engineering">Engineering</a>
      </div>
    </div>

    <div class="project dropdown">
      <a href="/safety">Safety</a>
    </div>
    <div class="project dropdown">
      <a href="/human-practices">Human Practices</a>
    </div>

    <div class="awards dropdown">
      <div class="dropbtn">Awards &#x2C5;</div>
      <div class="dropdown-content">
        <a href="/education">Education</a>
        <a href="/model">Model</a>
        <a href="/software">Software</a>
      </div>
    </div>
  </div>
</nav>

<style lang="scss">
  @import '../global.scss';

  nav {
    justify-content: space-between;
    display: flex;
    margin-top: 0.5rem;
    a img {
      width: 8rem;
      margin-left: 1.5em;
      position: fixed;
      filter: sepia(100%);
    }
    .navlinks {
      display: flex;
      justify-content: right;
      align-items: right;
      gap: 1.5rem;
      padding: 1rem 1rem;
      // font-family: 'Roboto', 'Courier New', sans-serif;
    }

    .dropdown {
      overflow: hidden;

      .dropdown-content {
        display: flex;
        flex-direction: column;
        // height: 0px !important;
        opacity: 0;
        line-height: 1.5em;
        font-weight: normal;
        color: $accent-2;
        position: absolute;
      }

      &:hover .dropdown-content {
        // display: flex;
        // flex-direction: column;
        // height: 5em !important;
        opacity: 1;
        @include transition-ease;
      }

      a {
        &:hover {
          color: $accent-1;
          @include transition-ease;
        }

        &:focus {
          color: $accent-1;
        }
      }
    }
  }
</style>
