<script>
  const logo = document.querySelector('.logo');
  document.addEventListener('click', e => {
    // Handle logo click here (instead of <a> tag) to avoid loading screen issues
    if (e.target === logo) window.location.href = '/waterloo/';
  });
</script>

<nav>
  <img class="logo" src="img/logo.png" />
  <div class="navlinks">
    {
      // Section dropdowns
      ['Project', 'Team', 'Wet Lab', 'Dry Lab', 'Human Practices'].map(
        title => (
          <div class="dropdown">
            <div class="dropbtn">
              {title} <span>&#11206;</span>
            </div>
            <div class="dropdown-content">
              {title === 'Project' && ( 
                <a href="/waterloo/contribution">Contribution</a>
                <a href="/waterloo/description">Description</a>
                <a href="/waterloo/engineering">Engineering</a>
              )}
              {title === 'Team' && (
                <a href="/waterloo/members">Members</a>
                <a href="/waterloo/attributions">Attributions</a>
              )}
              {title === 'Wet Lab' && (
                <a href="/waterloo/design">Design</a>
                <a href="/waterloo/notebook">Notebook</a>
                <a href="/waterloo/safety">Safety</a>
              )}
              {title === 'Dry Lab' && (
                <a href="/waterloo/model">Models</a>
                <a href="/waterloo/software">Software</a>
                <a href="/waterloo/bioinformatics">Bioinformatics</a>
              )}
              {title === 'Human Practices' && (
                <a href="/waterloo/problem-space">Problem Space</a>
                <a href="/waterloo/human-practices">Integrated HP</a>
                <a href="/waterloo/policy-research">Policy Research</a>
                <a href="/waterloo/education">Education</a>
                <a href="/waterloo/inclusivity">Inclusivity</a>
              )}
            </div>
          </div>
        ),
      )
    }
  </div>
</nav>

<style lang="scss">
  @import '../global.scss';

  nav {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    z-index: 50;

    .logo {
      width: 8rem;
      margin-left: 1.5em;
      filter: hue-rotate(20deg) sepia(50%) opacity(99%);
      z-index: 50;
      cursor: pointer;

      &:hover {
        filter: hue-rotate(45deg) sepia(60%);
        @include transition-ease;
      }
    }
    
    .navlinks {
      display: flex;
      gap: 1.5rem;
      padding: 1rem 1rem;
      margin-right: 0.5rem;

      .dropdown {
        .dropbtn {
          background: $accent-1; 
          color: $primary;
          padding: 0.4em;
          border-radius: 0.25em;

          span {
            font-size: 0.65em;
            position: relative;
            bottom: 0.15em;
          }
        }

        .dropdown-content {
          display: flex;
          flex-direction: column;
          line-height: 1.8em;
          background: $primary;
          color: $accent-1;
          opacity: 0;
          padding: 0.5rem;
          border: 1px solid $accent-1;
          border-radius: 0.25em;
          position: absolute;
          z-index: 50;
        }

        &:hover .dropdown-content {
          opacity: 0.5;
          @include transition-ease;
        }

        a:hover, a:focus {
          color: rgba($accent-1, 0.7);
          @include transition-ease;
        }
      }
    }
  }
</style>
