---

---

<nav>
  <div class="logo">
  <a href="/"><img style="" src="img/logopixel.png"></a>
  </div>

  <div class="navlinks">
  <div class="team dropdown">
    <div class="dropbtn">Team 🔽</div>
    <div class="dropdown-content">
      <a href="/team">Members</a>
      <a href="/attributions">Attributions</a>
    </div>
  </div> 

  <div class="project dropdown">
    <div class="dropbtn">Project 🔽</div>
    <div class="dropdown-content">
      <a href="/contribution">Contribution</a>
      <a href="/description">Description</a>
      <a href="/engineering">Engineering</a>
    </div>
  </div> 

<div class="project dropdown">
  <a href="/safety">Safety</a>
  </div>
  <div class="project dropdown">
  <a href="/human-practices">Human Practices</a>
  </div>

  <div class="awards dropdown">
    <div class="dropbtn">Awards 🔽</div>
    <div class="dropdown-content">
      <a href="/education">Education</a>
      <a href="/model">Model</a>
      <a href="/software">Software</a>
    </div>
    </div>
  </div> 
</nav>

<style lang="scss">
  @import '../global.scss';
  @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

  nav {
    justify-content: space-between;
    display: flex;
    margin-top: 1em;

    .logo {
      width: 12em;
      height: 12em;
      margin-left: 1.5em;
      border-radius: 20em;
      background: white;

      img {
        width: 10.5rem;
        margin-left: 0.8rem;
        margin-top: 1rem;
      }
    }

    .navlinks {
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 1.5rem;
    padding: 0.5em 1em;
    font-family: "Pixelify Sans", sans-serif;
    }
    
    .dropdown {
      overflow: hidden;
      
      .dropdown-content {
        display: flex;
        flex-direction: column;        
        height: 0px !important;
        opacity: 0;
        line-height: 2em;
        font-weight: normal;
        color: $primary-color;
        position: absolute;
      }

      &:hover .dropdown-content {
        // display: flex;
        // flex-direction: column;
        height: 5em !important;
        opacity: 1;
        @include transition-ease;

      }

      a {
        &:hover {
          color: $accent-color-3;
          @include transition-ease;
        }
        
        &:focus {
          color: $accent-color-1;
        }
      }
    }
  }
</style>