/* Custom Fonts */
// Source: https://fonts.google.com/specimen/League+Spartan
@font-face {
  font-family: 'League Spartan';
  src: url('fonts/LeagueSpartan-Medium.ttf') format('truetype');
  font-stretch: ultra-expanded;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// Source: https://www.whatfontis.com/FF_QUARTZO-demo-Bold.font?text=BovEco
@font-face {
  font-family: 'Quartzo';
  src: url('fonts/Quartzo.ttf') format('truetype');
  font-stretch: ultra-expanded;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Colour Scheme */
$primary: white;
$secondary: rgba(29, 30, 29, 0.639);
$accent-1: rgb(98, 120, 102);
$accent-2: rgb(178, 182, 132);
$accent-3: rgb(215, 200, 176);
$accent-4: rgb(42, 59, 83);

// $accent-1: #0b6a35;
// $accent-2: #129d78;
// $accent-3: #129d78;
// $accent-4: #57c765;

$accent-gradient: linear-gradient(
  45deg,
  rgba($accent-1, 0.5),
  rgba($accent-2, 0.5) 30%,
  rgba($accent-3, 0.5) 60%,
  $primary 60%
);


html {
  font-family: 'League Spartan', 'Roboto', system-ui, sans-serif;
  overflow-x: hidden; // for Clouds.astro
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // scroll-behavior: smooth;
}

*:focus-visible { outline: 2px solid $primary; }

// ::selection { 
//   background-color: $accent-1; 
//   color: $primary;
// }

// ::-moz-selection { 
//   background-color: $accent-1; 
//   color: $primary;
// }

// ::-webkit-scrollbar {
//   width: 10em;
// }

img, picture, svg, video {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

a { 
  text-decoration: none; 
  color: inherit;
}

@mixin transition-ease {
  opacity: 0.8;
  transform: translateY(0.05em);
  transition: all 0.2s ease-in-out;
}