/* Custom Fonts */

// Source: https://www.dafont.com/theme.php?cat=101
@font-face {
  font-family: 'Farmhouse Goodness';
  src: url('fonts/Farmhouse Goodness.ttf') format('truetype'), 
       url('fonts/Farmhouse Goodness.woff') format('woff'), 
       url('fonts/Farmhouse Goodness.otf') format('opentype');
  font-stretch: ultra-expanded;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// Source: https://www.whatfontis.com/FF_QUARTZO-demo-Bold.font?text=BovEco
@font-face {
  font-family: 'Quartzo';
  src: url('fonts/Quartzo.ttf') format('truetype');
  font-stretch: ultra-expanded;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Colour Scheme: https://coolors.co/6a6b49-b2b684-e9e1d6-ffffff-000000 */
$primary: rgb(255, 255, 255);
$secondary: rgb(0, 0, 0);
$accent-1: rgb(106, 107, 73);
$accent-2: rgb(178, 182, 132);
$accent-3: rgb(233, 225, 214);

$accent-gradient: linear-gradient(
  45deg,
  rgba($accent-1, 0.5),
  rgba($accent-2, 0.5) 30%,
  white 60%
);

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // font: inherit;
  scroll-behavior: smooth;
}

*:focus-visible { outline: 2px solid $accent-1; }

::selection { 
  background-color: $accent-2; 
  color: $primary;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

a { 
  text-decoration: none; 
  color: inherit;
}

@mixin transition-ease {
  opacity: 0.8;
  transform: translateY(0.05em);
  transition: all 0.2s ease-in-out;
}


html {
  font-family: system-ui, sans-serif;
  overflow-x: hidden; // for Clouds.astro
//  background-size: 224px;
/*  font-family:
  Menlo,
  Monaco,
  Lucida Console,
  Liberation Mono,
  DejaVu Sans Mono,
  Bitstream Vera Sans Mono,
  Courier New,
  monospace; */
}
