---
import NavBar from '../components/NavBar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="BovEco uses Chlorella vulgaris microalgae engineered to express phage-based lytic enzymes that selectively target methanogens in cattle, offering potential for affordable, crop-based solutions."
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
		/>
		<meta name="author" content="Waterloo iGEM" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="https://static.igem.wiki/teams/5118/img/favicon.webp"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<NavBar />
		<slot />
	</body>
</html>

<style lang="scss">
	@import '../global.scss';

	body {
		background-color: $primary;
		background-image: radial-gradient(
				circle at 30% 70%,
				rgb(173, 119, 196) 20%,
				transparent 1%
			),
			radial-gradient(circle at 70% 20%, rgb(173, 119, 196) 15%, transparent 1%),
			radial-gradient(circle at 80% 40%, rgb(173, 119, 196) 25%, transparent 1%),
			radial-gradient(circle at 40% 75%, rgb(173, 119, 196) 10%, transparent 1%),
			radial-gradient(circle at 65% 85%, rgb(173, 119, 196) 18%, transparent 1%),
			radial-gradient(circle at 25% 30%, rgb(173, 119, 196) 12%, transparent 1%);
		background-position: center;
		background-repeat: repeat-y;
		animation: move-around-screen 100s infinite alternate ease-in-out;
	}

	@keyframes move-around-screen {
		0% {
			background-size: 30em 30em;
			background-position: 20% 25%;
		}
		50% {
			background-size: 60em 60em;
			background-position:
				75% 45%,
				45% 80%,
				30% 35%,
				60% 90%,
				65% 25%,
				35% 75%;
		}
		100% {
			background-size: 20em 20em;
			background-position:
				30% 70%,
				70% 80%,
				85% 35%,
				35% 70%,
				25% 65%,
				75% 15%;
		}
	}
</style>
