---
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="BovEco uses Chlorella vulgaris microalgae engineered to express phage-based lytic enzymes that selectively target methanogens in cattle, offering potential for affordable, crop-based solutions."
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
		/>
		<meta name="author" content="Waterloo iGEM" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="https://static.igem.wiki/teams/5118/img/favicon.webp"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<NavBar />
		<slot />
		<Footer />
	</body>
</html>

<style lang="scss">
	@import '../global.scss';

	body {
		background-color: $primary;
		background-image: radial-gradient(
				circle at 30% 20%,
				rgb(119, 196, 168) 15%,
				transparent 5%
			),
			radial-gradient(circle at 70% 30%, rgb(119, 196, 168) 10%, transparent 3%),
			radial-gradient(circle at 50% 70%, rgb(119, 196, 168) 20%, transparent 2%),
			radial-gradient(circle at 40% 60%, rgb(119, 196, 168) 22%, transparent 3%);
		background-position: center;
		background-repeat: repeat-x;
		animation: move-blobs-around-screen 120s infinite alternate ease-in-out;
	}

	@keyframes move-blobs-around-screen {
		0% {
			background-size: 25em 25em;
			background-position: 10% 10%;
		}
		50% {
			background-size: 15em 15em;
			background-position:
				40% 30%,
				80% 50%,
				50% 75%,
				65% 95%,
				75% 20%,
				30% 60%;
		}
		100% {
			background-size: 50em 50em;
			background-position:
				30% 20%,
				90% 30%,
				40% 80%,
				80% 90%,
				70% 10%,
				20% 70%;
		}
	}
</style>
