---
import NavBar from '../components/NavBar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="img/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<NavBar />
		<slot />
	</body>
</html>

<style lang="scss">
	@import '../global.scss';

	body {
		background-color: white;
		background-image: radial-gradient(
				circle at 100% 30%,
				black 20%,
				transparent 21%
			),
			radial-gradient(circle at 80% 40%, black 15%, transparent 16%),
			radial-gradient(circle at 40% 80%, black 25%, transparent 26%),
			radial-gradient(circle at 60% 60%, black 10%, transparent 11%),
			radial-gradient(circle at 70% 20%, black 18%, transparent 19%),
			radial-gradient(circle at 30% 70%, black 12%, transparent 13%);
		background-size: 50% 400%;
		background-repeat: repeat-x;
	}
</style>
