---
import CursorParticles from '../components/CursorParticles.astro';
import Cloud from '../components/Cloud.astro';
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="BovEco uses Chlorella vulgaris microalgae engineered to express phage-based lytic enzymes that selectively target methanogens in cattle, offering potential for affordable, crop-based solutions."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="img/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<NavBar />
		<!-- <Cloud /> -->
		<slot />
		<Footer />
	</body>
</html>

<style lang="scss">
	@import '../global.scss';

	body {
		background-color: white;
		background-image: radial-gradient(
				circle at 25% 30%,
				black 20%,
				transparent 1%
			),
			radial-gradient(circle at 80% 40%, black 15%, transparent 1%),
			radial-gradient(circle at 40% 75%, black 25%, transparent 1%),
			radial-gradient(circle at 65% 85%, black 10%, transparent 1%),
			radial-gradient(circle at 70% 20%, black 18%, transparent 1%),
			radial-gradient(circle at 30% 70%, black 12%, transparent 1%);
		background-position: center;
		background-repeat: repeat-y;
		z-index: -50;
		animation: move-around-screen 100s infinite alternate ease-in-out;

		slot {
			z-index: 50;
		}
	}

	@keyframes move-around-screen {
		0% {
			background-size: 30em 30em;
			background-position: 0% 0%;
		}
		50% {
			background-size: 20em 20em;
			background-position:
				30% 35%,
				75% 45%,
				45% 80%,
				60% 90%,
				65% 25%,
				35% 75%;
		}
		100% {
			background-size: 60em 60em;
			background-position:
				20% 25%,
				85% 35%,
				35% 70%,
				70% 80%,
				75% 15%,
				25% 65%;
		}
	}
</style>
